<section id="label">
  <header>
    <h3>Place Label</h3>

    <div>
      <button (click)="onClickOpenModal('label')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <div>
    {{ place.name }}
  </div>
</section>

<section id="address">
  <header>
    <h3>Address</h3>

    <div>
      <button (click)="onClickOpenModal('address')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <div>
    {{ place.address | stringifyAddress }}
  </div>
</section>

<section id="locations">
  <header>
    <h3>Locations</h3>
  </header>
</section>
