<admin-item-section>
  <header>
    <h3>Place Label</h3>

    <div>
      <button (click)="onClickOpenModal($event, 'label')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <admin-item-content>
    {{ place.label }}
  </admin-item-content>
</admin-item-section>

<admin-item-section>
  <header>
    <h3>Address</h3>

    <div>
      <button (click)="onClickOpenModal($event, 'address')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <admin-item-content>
    <ng-container *ngIf="place.address | hasAddress; else noAddress">
      {{ place.address | stringifyAddress }}
    </ng-container>

    <ng-template #noAddress>
      No Address
    </ng-template>
  </admin-item-content>
</admin-item-section>

<admin-item-section>
  <header>
    <h3>Locations</h3>

    <div>
      <button (click)="onClickOpenModal($event, 'addLocation')" class="add">
        <i class="fas fa-plus-square"></i>
      </button>
    </div>
  </header>

  <admin-item-content>
    <ng-container *ngIf="place.locations.length > 0; else noLocations">
      <a
        *ngFor="let location of place.locations"
        (click)="onClickOpenModal($event, 'editLocation', location._id)"
        [title]="location.name"
      >
        <span>
          {{ location.name }}
        </span>

        <button
          class="action"
          (click)="onClickOpenModal($event, 'deleteLocation', location._id)"
        >
          <i class="fas fa-times"></i>
        </button>
      </a>
    </ng-container>

    <ng-template #noLocations>
      No Locations
    </ng-template>
  </admin-item-content>
</admin-item-section>
