<ng-container *ngIf="user$ | async as user">
  <ui-modal-header>
    <h1>Update <br>Emergency Contact</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)">
    <ng-container ngModelGroup="emergency">
      <div class="name" ngModelGroup="name">
        <ui-modal-form-field>
          <input
            name="first"
            [ngModel]="user.emergency && user.emergency.name.first"
            placeholder="First Name"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            name="last"
            [ngModel]="user.emergency && user.emergency.name.last"
            placeholder="Last Name"
          >
        </ui-modal-form-field>
      </div>

      <ui-modal-form-field>
        <input
          type="tel"
          name="phone"
          [ngModel]="user.emergency && user.emergency.phone"
          placeholder="Phone Number"
        >
      </ui-modal-form-field>

      <ui-modal-form-field>
        <input
          type="tel"
          name="secondary"
          [ngModel]="user.emergency && user.emergency.secondary"
          placeholder="Secondary Number"
        >
      </ui-modal-form-field>
    </ng-container>

    <ui-modal-actions>
      <button id="save">Save</button>

      <button id="cancel" uiModalClose>Cancel</button>
    </ui-modal-actions>
  </form>
</ng-container>
