<app-admin-item-section>
  <header>
    <h3>League Name</h3>

    <div>
      <button (click)="onClickOpenModal('name', league._id)">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <div>
    {{ league.name }}
  </div>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Description</h3>

    <div>
      <button (click)="onClickOpenModal('description', league._id)">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <div *ngIf="league.description; else noDescription">
    {{ league.description }}
  </div>

  <ng-template #noDescription>
    <div>No Description</div>
  </ng-template>
</app-admin-item-section>
