<app-admin-item-section>
  <header>
    <h3>League Name</h3>

    <div>
      <button (click)="onClickOpenModal('name', league._id)">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <app-admin-item-content>
    {{ league.name }}
  </app-admin-item-content>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Description</h3>

    <div>
      <button (click)="onClickOpenModal('description', league._id)">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <app-admin-item-content>
    <ng-container *ngIf="league.description; else noDescription">
      {{ league.description }}
    </ng-container>

    <ng-template #noDescription>
      No Description
    </ng-template>
  </app-admin-item-content>
</app-admin-item-section>
