@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

#user-form {
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      color: $text-muted;
      font-size: $h2-font-size;
      margin: 0;
    }

    #actions {
      display: none;
    }
  }

  section#form {
    padding: 1rem 0;

    fieldset {
      margin: 1rem 0;

      h2 {
        color: $text-muted;
        font-size: $h5-font-size;
        margin-bottom: 1.5rem;
      }
    }

    mat-form-field {
      width: 100%;
    }
  }

  #buttons-mobile {
    div:first-child {
      padding-right: 0.125rem;
    }

    div:last-child {
      padding-left: 0.125rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  #user-form {
    background-color: theme-color(light);
    padding: 1.5rem;

    header {
      #actions {
        display: block;
      }
    }

    section#form {
      padding: 1rem;
    }
  }
}
