<div class="row bg-light p-4">
  <div class="col">
    <div class="row mb-4 border-bottom align-items-start justify-content-between">
      <div class="col-8">
        <h2 class="h3 text-muted pb-2">League Overview</h2>
      </div>

      <div class="col-4">
        <button
          mat-flat-button
          color="primary"
          class="mr-2"
          (click)="onNewDivisionClick()"
        >
          <i class="fas fa-align-left mr-1"></i>

          New Division
        </button>

        <button
          mat-flat-button
          color="primary"
          class="mr-2"
          (click)="onAddTeamClick()"
        >
          <i class="fas fa-tshirt mr-1"></i>

          Add Team
        </button>
      </div>
    </div>

    <ng-template #divisionRow let-divisions="divisions" let-depth="depth">
      <ng-container *ngFor="let division of divisions">
          <div
            class="division mb-2"
            (dragstart)="onDivisionDrag($event, division)"
            (dragenter)="onDivisionDragOver($event, division)"
            (dragover)="onDivisionDragOver($event, division)"
            (drop)="onDivisionDrop($event, division)"
            draggable="true"
          >
            <div [ngStyle]="styleDivisionName(depth)" class="border-bottom">
              {{ division.name }}
            </div>

            <ng-container *ngIf="division.teams.length > 0">
                <div class="teams py-1">
                    <div
                      *ngFor="let team of division.teams"
                      class="team p-2"
                    >
                      {{ team.name }}
                    </div>
                </div>
            </ng-container>
          </div>

          <ng-container *ngIf="division.divisions && division.divisions.length > 0">
            <ng-container
              *ngTemplateOutlet="divisionRow, context: { divisions: division.divisions, depth: depth + 1 }"
            ></ng-container>
          </ng-container>
      </ng-container>
    </ng-template>

    <div
      *ngIf="unassignedTeams && unassignedTeams.length > 0"
      class="row"
      @unassignedTeamsToggle
    >
      <div class="col">
        <section
          id="unassigned-teams"
          class="p-2"
        >
          <h3 class="h6 text-muted d-inline mr-3 mb-2">Unassigned Teams:</h3>

          <button
            *ngFor="let team of unassignedTeams"
            mat-raised-button
            color="white"
            disableRipple="true"
            class="border mr-2 mb-2"
            (dragstart)="onTeamDrag($event, team)"
            draggable="true"
            @unassignedTeamEnter
          >
            {{ team.name }}
          </button>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section
          *ngIf="league.divisions && league.divisions.length > 0"
          id="divisions"
          class="bg-white p-4 rounded"
          @leagueOverviewEnter
        >
            <ng-container
              *ngTemplateOutlet="divisionRow, context: { divisions: league.divisions, depth: 0 }"
            >
            </ng-container>
        </section>

        <section
          *ngIf="!league.divisions || league.divisions.length === 0"
          id="divisions"
        >
          <p class="text-center text-muted">No Divisions.</p>
        </section>
      </div>
    </div>
  </div>
</div>
