<app-admin-league-form
  *ngIf="league && editingLeague"
  [league]="league"
  (saveClick)="editingLeague = !editingLeague"
>
</app-admin-league-form>

<app-admin-league-details
  *ngIf="league && !editingLeague"
  [league]="league"
  (editClick)="editingLeague = !editingLeague"
>
</app-admin-league-details>

<div class="row justify-content-between">
  <div class="col-6">
    <div class="p-4 bg-light">
      <h2 class="h4 text-muted">Divisions</h2>
    </div>
  </div>

  <div class="col-6">
    <div class="p-4 bg-light">
      <h2 class="h4 text-muted">Teams</h2>
    </div>
  </div>
</div>
