<app-admin-item *ngIf="league$ | async as league">
  <app-admin-item-header>
    <header>
      <h1>{{ league.name }}</h1>

      <div id="actions">
        <button (click)="settings = !settings">
          <span>Settings</span>

          <i class="fas fa-cog"></i>
        </button>
      </div>
    </header>
  </app-admin-item-header>

  <app-admin-item-settings *ngIf="settings">
    <button (click)="onClickOpenModal()">Delete League</button>
  </app-admin-item-settings>

  <app-tab-selector
    [tabs]="['details', 'overview', 'schedule']"
    (select)="selected = $event"
  >
  </app-tab-selector>

  <section [ngSwitch]="selected">
    <app-admin-league-details
      *ngSwitchCase="'details'"
      [league]="league"
    >
    </app-admin-league-details>

    <app-admin-overview
      *ngSwitchCase="'overview'"
      [league]="league"
    >
    </app-admin-overview>

    <app-admin-league-schedule
      *ngSwitchCase="'schedule'"
      [league]="league"
    >
    </app-admin-league-schedule>
  </section>
</app-admin-item>
