@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section#unassigned-teams {
  padding: 0.5rem;
  text-align: center;

  h3 {
    padding-bottom: 0.5rem;
  }
}

section#divisions {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;

  .division {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    div {
      display: inline-block;
    }

    .actions {
      position: absolute;
      right: 0;
    }
  }
}

.teams {
  padding: 1rem 0;

  .team {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    position: relative;

    div {
      display: inline-block;
    }

    .actions {
      position: absolute;
      right: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  section#unassigned-teams {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;

    h3 {
      display: inline;
      padding-right: 1rem;
      padding-bottom: 0;
    }
  }

  section#divisions {
    padding: 1.5rem;

    .division {
      .actions {
        display: none;
      }

      &:hover .actions {
        display: inline-block;
      }
    }
  }

  .teams {
    .team {
      .actions {
        display: none;
      }

      &:hover .actions {
        display: inline-block;
      }
    }
  }
}
