@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section.utility {
  font-size: 1rem;

  mat-form-field.status, mat-form-field.roles {
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  section.utility {
    font-size: 0.8rem;

    mat-form-field.status, mat-form-field.roles {
      padding-left: 1rem;
    }
  }
}
