<section class="utility row no-gutters">
  <div class="col-lg-6">
    <form [formGroup]="utilityForm">
      <div class="row no-gutters">
        <div class="col-sm-6">
          <app-admin-search
            [utilityForm]="utilityForm"
            (search)="onSearch()"
          >
          </app-admin-search>
        </div>

        <div class="col-sm-6">
          <mat-form-field *ngIf="teams" class="status">
            <mat-select
              formControlName="status"
              placeholder="Select Status"
            >
              <mat-option>--- Select Status ---</mat-option>
              <mat-option value="new">New</mat-option>
              <mat-option value="pending">Pending</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="col-lg-6 d-none d-lg-block">
    <app-admin-pagination
      *ngIf="matched"
      [totalItems]="matched.length"
      [currentPage]="currentPage"
      [perPage]="perPage"
      [label]="label"
      (page)="onPageChange($event)"
      (perPageChange)="onPerPageChange($event)"
    >
    </app-admin-pagination>
  </div>
</section>

<ng-content></ng-content>

<section class="utility row">
  <div class="col text-right">
      <app-admin-pagination
        *ngIf="matched"
        [totalItems]="matched.length"
        [currentPage]="currentPage"
        [perPage]="perPage"
        [label]="label"
        (page)="onPageChange($event)"
        (perPageChange)="onPerPageChange($event)"
      >
      </app-admin-pagination>
  </div>
</section>
