<app-admin-item-section>
  <header>
    <h3>User Name</h3>

    <div>
      <button (click)="onClickOpenModal('name')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <section>
    {{ user.fullName }}
  </section>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Email Address</h3>
  </header>

  <section>
    {{ user.email }}
  </section>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Address</h3>

    <div>
      <button (click)="onClickOpenModal('address')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <section *ngIf="user.address | hasAddress; else noAddress">
    {{ user.address | stringifyAddress }}
  </section>

  <ng-template #noAddress>
    <section>No Address</section>
  </ng-template>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Phone</h3>

    <div>
      <button (click)="onClickOpenModal('phone')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <section *ngIf="user.phone || user.secondary; else noPhone">
    <div *ngIf="user.phone">
      <span>Primary:</span>
      {{ user.phone }}
    </div>

    <div *ngIf="user.secondary">
      <span>Secondary:</span>
      {{ user.secondary }}
    </div>
  </section>

  <ng-template #noPhone>
    <section>No Phone Numbers</section>
  </ng-template>
</app-admin-item-section>
