<app-admin-item-section>
  <header>
    <h3>User Name</h3>

    <div>
      <button (click)="onClickOpenModal('name')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <div>
    {{ user.fullName }}
  </div>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Email Address</h3>
  </header>

  <div>
    {{ user.email }}
  </div>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Address</h3>

    <div>
      <button (click)="onClickOpenModal('address')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <div *ngIf="user.address | hasAddress; else noAddress">
    {{ user.address | stringifyAddress }}
  </div>

  <ng-template #noAddress>
    <div>No Address</div>
  </ng-template>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Phone</h3>

    <div>
      <button (click)="onClickOpenModal('phone')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <div *ngIf="user.phone || user.secondary; else noPhone" id="phone">
    <div *ngIf="user.phone">
      <span>Primary:</span>{{ user.phone }}
    </div>

    <div *ngIf="user.secondary">
      <span>Secondary:</span>{{ user.secondary }}
    </div>
  </div>

  <ng-template #noPhone>
    <div>No Phone Numbers</div>
  </ng-template>
</app-admin-item-section>
