<admin-item-section>
  <header>
    <h3>User Name</h3>

    <div>
      <button (click)="onClickOpenModal('name')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <admin-item-content>
    {{ user.fullName }}
  </admin-item-content>
</admin-item-section>

<admin-item-section>
  <header>
    <h3>Email Address</h3>
  </header>

  <admin-item-content>
    {{ user.email }}
  </admin-item-content>
</admin-item-section>

<admin-item-section>
  <header>
    <h3>Address</h3>

    <div>
      <button (click)="onClickOpenModal('address')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <admin-item-content>
    <ng-container *ngIf="user.address | hasAddress; else noAddress">
      {{ user.address | stringifyAddress }}
    </ng-container>

    <ng-template #noAddress>
      No Address
    </ng-template>
  </admin-item-content>
</admin-item-section>

<admin-item-section>
  <header>
    <h3>Phone</h3>

    <div>
      <button (click)="onClickOpenModal('phone')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <admin-item-content>
    <ng-container *ngIf="user.phone || user.secondary; else noPhone">
      <div *ngIf="user.phone">
        <span>Primary:</span>
        {{ user.phone }}
      </div>

      <div *ngIf="user.secondary">
        <span>Secondary:</span>
        {{ user.secondary }}
      </div>
    </ng-container>

    <ng-template #noPhone>
      No Phone Numbers
    </ng-template>
  </admin-item-content>
</admin-item-section>
