<app-nav-slide>
  <h2>{{ league.name }}</h2>

  <p *ngIf="league.description">{{ league.description }}</p>

  <app-tab-selector
    [tabs]="['home', 'schedule', 'standings', 'teams']"
    (select)="selected = $event"
  >
  </app-tab-selector>
</app-nav-slide>

<section id="league" [ngSwitch]="selected">
  <app-league-home *ngSwitchCase="'home'"></app-league-home>

  <app-schedule
    *ngSwitchCase="'schedule'"
    [schedule]="league.schedule"
  ></app-schedule>

  <!-- <app-league-schedule *ngSwitchCase="'schedule'"></app-league-schedule> -->

  <app-league-standings
    *ngSwitchCase="'standings'"
    [league]="league"
  ></app-league-standings>
</section>
