<app-modal-stepper>
  <app-modal-stepper-header>
    <h1>New User</h1>
  </app-modal-stepper-header>

  <app-modal-stepper-content>
    <app-modal-step [stepControl]="userForm">
      <form [formGroup]="userForm">
        <h2>User Info</h2>

        <p>Enter Name</p>

        <div class="name" formGroupName="name">
          <app-modal-form-field>
            <input
              formControlName="first"
              placeholder="First Name"
            >
          </app-modal-form-field>

          <app-modal-form-field>
            <input
              formControlName="last"
              placeholder="Last Name"
            >
          </app-modal-form-field>
        </div>

        <p>Enter Contact Info</p>

        <app-modal-form-field>
          <input
            type="email"
            formControlName="email"
            placeholder="Email Address"
          >

          <div class="message">
            <span *ngIf="userForm.get('email').pending" class="pending">
              Checking Email...
            </span>

            <span *ngIf="userForm.get('email').hasError('notUnique')" class="error">
              Email is already in use!
            </span>
          </div>
        </app-modal-form-field>

        <app-modal-form-field>
          <input
            type="tel"
            formControlName="phone"
            placeholder="Phone Number"
          >
        </app-modal-form-field>

        <app-modal-form-field>
          <input
            type="tel"
            formControlName="secondary"
            placeholder="Secondary Phone"
          >
        </app-modal-form-field>

        <app-modal-actions>
          <button id="next" appModalStepNext>Next</button>

          <button id="cancel" appModalClose>Cancel</button>
        </app-modal-actions>
      </form>
    </app-modal-step>

    <app-modal-step>
      <form [formGroup]="addressForm">
        <h2>User Address</h2>

        <p>Enter the user's address</p>

        <app-modal-form-field>
          <input
            formControlName="street"
            placeholder="Street"
          >
        </app-modal-form-field>

        <app-modal-form-field>
          <input
            formControlName="city"
            placeholder="City"
          >
        </app-modal-form-field>

        <app-modal-form-field>
          <input
            formControlName="state"
            placeholder="State"
          >
        </app-modal-form-field>

        <app-modal-form-field>
          <input
            formControlName="postal"
            placeholder="Zip Code"
          >
        </app-modal-form-field>

        <app-modal-actions>
          <button id="next" appModalStepNext>Next</button>

          <button id="previous" appModalStepPrev>Previous</button>
        </app-modal-actions>
      </form>
    </app-modal-step>

    <app-modal-step>
      <form [formGroup]="emergencyForm" (ngSubmit)="onSubmit()">
        <h2>Emergency Contact</h2>

        <p>Enter emergency contact information</p>

        <section id="name" formGroupName="name">
          <app-modal-form-field>
            <input
              formControlName="first"
              placeholder="First Name"
            >
          </app-modal-form-field>

          <app-modal-form-field>
            <input
              formControlName="last"
              placeholder="Last Name"
            >
          </app-modal-form-field>
        </section>

        <app-modal-form-field>
          <input
            type="tel"
            formControlName="phone"
            placeholder="Phone Number"
          >
        </app-modal-form-field>

        <app-modal-form-field>
          <input
            type="tel"
            formControlName="secondary"
            placeholder="Secondary Phone"
          >
        </app-modal-form-field>

        <app-modal-actions>
          <button id="save">Create</button>

          <button id="previous" appModalStepPrev>Previous</button>
        </app-modal-actions>
      </form>
    </app-modal-step>
  </app-modal-stepper-content>
</app-modal-stepper>
