<ui-stepper>
  <ui-stepper-header>
    <h1>New User</h1>
  </ui-stepper-header>

  <ui-stepper-content>
    <ui-step [stepControl]="userForm">
      <form [formGroup]="userForm">
        <div class="name" formGroupName="name">
          <ui-modal-form-field>
            <input
              formControlName="first"
              placeholder="First Name"
            >
          </ui-modal-form-field>

          <ui-modal-form-field>
            <input
              formControlName="last"
              placeholder="Last Name"
            >
          </ui-modal-form-field>
        </div>

        <ui-modal-form-field>
          <input
            type="email"
            formControlName="email"
            placeholder="Email Address"
          >

          <div class="message">
            <span *ngIf="userForm.get('email').pending" class="pending">
              Checking Email...
            </span>

            <span *ngIf="userForm.get('email').hasError('notUnique')" class="error">
              Email is already in use!
            </span>
          </div>
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            type="tel"
            formControlName="phone"
            placeholder="Phone Number"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            type="tel"
            formControlName="secondary"
            placeholder="Secondary Phone"
          >
        </ui-modal-form-field>

        <ui-modal-actions>
          <button id="next" uiStepNext>Next</button>

          <button id="cancel" uiModalClose>Cancel</button>
        </ui-modal-actions>
      </form>
    </ui-step>

    <ui-step>
      <form [formGroup]="addressForm">
        <h2>User Address</h2>

        <ui-modal-form-field>
          <input
            formControlName="street"
            placeholder="Street"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            formControlName="city"
            placeholder="City"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            formControlName="state"
            placeholder="State"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            formControlName="postal"
            placeholder="Zip Code"
          >
        </ui-modal-form-field>

        <ui-modal-actions>
          <button id="next" uiStepNext>Next</button>

          <button id="previous" uiStepPrev>Previous</button>
        </ui-modal-actions>
      </form>
    </ui-step>

    <ui-step>
      <form [formGroup]="emergencyForm" (ngSubmit)="onSubmit()">
        <h2>Emergency Contact</h2>

        <div class="name" formGroupName="name">
          <ui-modal-form-field>
            <input
              formControlName="first"
              placeholder="First Name"
            >
          </ui-modal-form-field>

          <ui-modal-form-field>
            <input
              formControlName="last"
              placeholder="Last Name"
            >
          </ui-modal-form-field>
        </div>

        <ui-modal-form-field>
          <input
            type="tel"
            formControlName="phone"
            placeholder="Phone Number"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            type="tel"
            formControlName="secondary"
            placeholder="Secondary Phone"
          >
        </ui-modal-form-field>

        <ui-modal-actions>
          <button id="save">Create</button>

          <button id="previous" uiStepPrev>Previous</button>
        </ui-modal-actions>
      </form>
    </ui-step>
  </ui-stepper-content>
</ui-stepper>
