<section id="permits">
  <header>
    <h1>Permits</h1>

    <button
      mat-flat-button
      color="primary"
      (click)="onClickAddPermit()"
    >
      <span>Add</span>
      <i class="fas fa-plus"></i>
    </button>
  </header>

  <section id="permit-list"
    *ngIf="permits.length > 0"
    [@permitsEnter]="permits.length"
  >
    <app-admin-permit
      *ngFor="let permit of permits; trackBy: trackById"
      [permit]="permit">
    </app-admin-permit>
  </section>

  <p id="no-permits" *ngIf="permits.length === 0">
    No Permits.
  </p>
</section>
