$theme-colors: (
  primary: #2e7d32,
  danger: #f44336,
  info: #ffe57f
);

$link-hover-decoration: none;

// $link-color: #3f51b5;
// $link-hover-color: currentColor;

@import '~@angular/material/theming';

@include mat-core();

@import 'themes/urban-soccer';

@include angular-material-theme($urban-soccer-theme);
