$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1280px
);

$theme-colors: (
  primary: #3f51b5,
  danger: #f44336,
  info: #ff4081
);

$color-admin: #bf4747;
$color-league: #9459cf;
$color-team: #60a3e0;
$color-user: #c99249;

$link-hover-decoration: none;
