<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
  <aside id="group" class="container-fluid">
    <div class="row no-gutters">
      <div class="col">
        <header>
          <h3>Edit Group</h3>
        </header>

        <section id="form-fields">
          <mat-form-field>
            <input
              matInput
              type="text"
              name="label"
              formControlName="label"
              required="true"
              placeholder="Group Label"
            >
          </mat-form-field>
        </section>

        <section id="form-actions">
          <button
            mat-flat-button
            color="primary"
            class="mr-2"
            [disabled]="groupForm.invalid"
          >
            <i class="fas fa-save mr-2"></i>
            <span>Save</span>
          </button>

          <button
            mat-flat-button
            color="warn"
            mat-dialog-close
          >
            <i class="fas fa-times mr-2"></i>
            <span>Cancel</span>
          </button>
        </section>
      </div>
    </div>
  </aside>
</form>
