@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section#team-list {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;

  .team {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    min-height: 55px;
    justify-content: space-between;
    padding-left: 1rem;

    div {
      display: inline-block;
    }
  }
}

@include media-breakpoint-up(sm) {
  section#team-list {
    padding: 1.5rem;

    .team {
      .actions {
        display: none;
      }

      &:hover .actions {
        display: inline-block;
      }
    }
  }
}
