@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section#team-list {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;

  .team {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(sm) {
  section#team-list {
    padding: 1.5rem;
  }
}
