@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

app-admin-item-content {
  display: block;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  white-space: pre-line;

  div {
    align-items: center;
    display: flex;

    span {
      display: inline-block;
      font-size: 0.8rem;
      margin: 0 0.5rem 0 0;
      text-align: right;
      width: 4.5rem;
    }
  }

  a {
    align-items: center;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0 0 0 0.5rem;
    transition: all 100ms ease-in-out;

    span {
      color: theme-color(primary);
      line-height: 2.5rem;
    }

    button {
      background: none;
      border: none;
      color: theme-color-level(danger, 4);
      font-size: 0.8rem;
      height: 100%;
      padding: 0 1rem;
    }
  }
}
