<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="row pb-2 text-center align-items-center">
          <div class="col">
            <h1 class="h2 text-muted">Add Division</h1>
          </div>
        </div>

        <div class="row">
          <div class="col p-4 bg-light">
            <mat-form-field class="w-100">
              <input
                matInput
                name="name"
                required
                placeholder="Division Name"
                [(ngModel)]="division.name"
                #name="ngModel"
              >
              <mat-error>Name is required.</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col text-center pt-4 border-top">
            <button
              mat-flat-button
              color="primary"
              class="mr-2"
              [disabled]="f.invalid"
            >
              <i class="fas fa-plus mr-1"></i>

              Add Division
            </button>

            <button
              mat-flat-button
              color="warn"
              mat-dialog-close
            >
              <i class="fas fa-times mr-1"></i>

              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
