<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row pb-2 text-center align-items-center">
          <div class="col">
            <h1 class="h2 text-muted" *ngIf="new">Add Division</h1>
            <h1 class="h2 text-muted" *ngIf="!new">Edit Division</h1>
          </div>
        </div>

        <div class="row p-4 bg-light">
          <div class="col">
            <div class="row pb-4">
              <div class="col">
                <mat-form-field class="w-100">
                  <input
                    matInput
                    name="name"
                    required
                    placeholder="Division Name"
                    [(ngModel)]="division.name"
                    #name="ngModel"
                  >
                  <mat-error>Name is required.</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row" *ngIf="league.divisions && league.divisions.length > 0">
              <div class="col">
                <mat-form-field class="w-100">
                  <mat-select
                    placeholder="Belongs To"
                    name="parent"
                    [(ngModel)]="division.parent"
                    #parent="ngModel"
                  >
                    <mat-option [value]="null">--- No Parent ---</mat-option>
                    <mat-option *ngFor="let division of league.divisions" [value]="division._id">
                      {{ division.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col text-center pt-4 border-top">
            <button
              *ngIf="new"
              mat-flat-button
              color="primary"
              class="mr-2"
              [disabled]="f.invalid"
            >
              <i class="fas fa-plus mr-1"></i>

              Add
            </button>

            <button
              *ngIf="!new"
              mat-flat-button
              color="primary"
              class="mr-2"
              [disabled]="f.invalid"
            >
              <i class="fas fa-save mr-1"></i>

              Save
            </button>

            <button
              mat-flat-button
              color="warn"
              mat-dialog-close
            >
              <i class="fas fa-times mr-1"></i>

              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
