<app-admin-items *ngIf="teams$ | async as teams">
  <header>
    <h2>Teams</h2>

    <button
      mat-flat-button
      color="accent"
      (click)="onClickOpenModal()"
    >
      <i class="fas fa-plus"></i>
      <span>New</span>
    </button>
  </header>

  <section id="teams" class="items">
    <ng-container *ngIf="teams.length > 0; else noTeams">
      <article
        *ngFor="let team of teams"
        [routerLink]="[team._id]"
      >
        {{ team.name }}
      </article>
    </ng-container>

    <ng-template #noTeams>
      <p class="no-items">
        No teams. Maybe create one? <i class="far fa-smile"></i>
      </p>
    </ng-template>
  </section>
</app-admin-items>
