<ui-stepper>
  <ui-stepper-header>
    <h1>New Place</h1>
  </ui-stepper-header>

  <ui-stepper-content>
    <form
      [formGroup]="placeForm"
      (ngSubmit)="placeForm.valid && onSubmit(placeForm.value)"
    >
      <ui-step [stepControl]="placeForm.get('label')">
        <h2>Choose a Label</h2>

        <p>Label is required to identify your place.</p>

        <ui-modal-form-field>
          <input
            name="label"
            placeholder="Enter Label"
            formControlName="label"
          >
        </ui-modal-form-field>

        <ui-modal-actions>
          <button
            id="next"
            [disabled]="!placeForm.get('label').valid"
            uiStepNext
          >
            Next
          </button>

          <button id="cancel" uiModalClose>
            Cancel
          </button>
        </ui-modal-actions>
      </ui-step>

      <ui-step formGroupName="address" [stepControl]="placeForm.get('address')">
        <h2>Enter Address</h2>

        <ui-modal-form-field>
          <input
            type="text"
            name="street"
            placeholder="Street"
            formControlName="street"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            type="text"
            name="city"
            placeholder="City"
            formControlName="city"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            type="text"
            name="state"
            placeholder="State"
            formControlName="state"
          >
        </ui-modal-form-field>

        <ui-modal-form-field>
          <input
            type="text"
            name="postal"
            placeholder="Zip"
            formControlName="postal"
          >
        </ui-modal-form-field>

        <ui-modal-actions>
          <button id="next" [disabled]="!placeForm.get('address').valid" uiStepNext>Next</button>

          <button id="previous" uiStepPrev>Back</button>
        </ui-modal-actions>
      </ui-step>

      <ui-step formArrayName="locations">
        <h2>Add Locations</h2>

        <p>(e.g. Field 1 or Court 2)</p>

        <ng-container *ngFor="let location of locationsArray.controls; index as i; first as isFirst">
          <ui-modal-form-field [formGroupName]="i">
            <input
              name="name"
              placeholder="Enter Location"
              formControlName="name"
            >

            <button *ngIf="!isFirst" (click)="removeLocation(i)">
              <i class="fas fa-times-circle"></i>
            </button>
          </ui-modal-form-field>
        </ng-container>

        <button
          type="button"
          *ngIf="locationsArray.length < 3"
          (click)="addLocation()"
          id="add-location"
        >
          <i class="fas fa-plus"></i>
          <span>Add Location</span>
        </button>

        <ui-modal-actions>
          <button
            id="save"
            [disabled]="!placeForm.valid"
          >
            Create
          </button>

          <button id="previous" uiStepPrev>Back</button>
        </ui-modal-actions>
      </ui-step>
    </form>
  </ui-stepper-content>
</ui-stepper>
