<form [formGroup]="divisionForm" autocomplete="off" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="row p-4">
      <div class="col">
        <header class="row pb-2 text-center align-items-center">
          <div class="col">
            <h1 class="h2 text-muted" *ngIf="new">Add Division</h1>
            <h1 class="h2 text-muted" *ngIf="!new">Edit Division</h1>
          </div>
        </header>

        <section class="row bg-light" id="input">
          <div class="col">
            <mat-form-field class="w-100">
              <input
                matInput
                name="name"
                required
                placeholder="Division Name"
                formControlName="name"
                [(ngModel)]="division.name"
              >
              <mat-error>Name is required.</mat-error>
            </mat-form-field>
          </div>
        </section>

        <section class="row mt-4" id="controls">
          <div class="col text-center pt-4 border-top">
            <button
              *ngIf="new"
              mat-flat-button
              color="primary"
              class="mr-2"
              [disabled]="divisionForm.invalid"
            >
              <i class="fas fa-plus mr-2"></i>
              <span>Add</span>
            </button>

            <button
              *ngIf="!new"
              mat-flat-button
              color="primary"
              class="mr-2"
              [disabled]="divisionForm.invalid"
            >
              <i class="fas fa-save mr-2"></i>
              <span>Save</span>
            </button>

            <button
              mat-flat-button
              color="warn"
              mat-dialog-close
            >
              <i class="fas fa-times mr-2"></i>
              <span>Cancel</span>
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</form>
