<ng-container *ngIf="place$ | async as place">
  <ui-modal-header>
    <h1>Delete {{ place.label }}</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit()">
    <h2>Enter label to confirm</h2>

    <p class="warning">WARNING: This cannot be undone!</p>

    <ui-modal-form-field>
      <input
        name="name"
        ngModel
        placeholder="Enter Place Label"
        [appMustMatch]="place.label"
      >
    </ui-modal-form-field>
  </form>

  <ui-modal-actions>
    <button id="delete" [disabled]="!f.valid">Delete</button>

    <button id="cancel" uiModalClose>Cancel</button>
  </ui-modal-actions>
</ng-container>
