<nav *ngIf="isMobile" id="user">
  <header>
    <ng-container *ngTemplateOutlet="profileImg"></ng-container>

    <h1>Hi, {{ auth.fullName }}!</h1>
  </header>

  <ng-container *ngTemplateOutlet="userLinks"></ng-container>
</nav>

<a
  *ngIf="!isMobile"
  id="user"
  (mouseenter)="showMenu = true"
  (mouseleave)="showMenu = false"
  (click)="showMenu = false"
  [ngClass]="{ 'open': showMenu }"
>
  <ng-container *ngTemplateOutlet="profileImg"></ng-container>

  <span>Hi, {{ auth.fullName }}!</span>

  <ng-container *ngTemplateOutlet="userLinks"></ng-container>
</a>

<ng-template #profileImg>
  <figure>
    <i *ngIf="!auth.img" class="fas fa-user"></i>
    <img *ngIf="auth.img" [src]="auth.img">
  </figure>
</ng-template>

<ng-template #userLinks>
  <ul>
    <li>
      <a title="My Profile" (click)="onClick(['user'])">
        <span>My Profile</span>
      </a>
    </li>

    <li>
      <a title="Logout" (click)="onClick(['logout'])">
        <span>Logout</span>
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
  </ul>
</ng-template>
