<section id="league-schedule" class="row">
  <div class="col">
    <header>
      <h2>League Schedule</h2>

      <div id="actions">
        <button
          color="accent"
          mat-flat-button
          (click)="onClickAutoGenerate()"
        >
          <i class="fas fa-magic mr-2"></i>
          <span>Auto-Generate</span>
        </button>

        <button
          color="primary"
          mat-flat-button
        >
          <i class="far fa-calendar-plus mr-2"></i>
          <span>Add</span>
        </button>

        <button
          color="warn"
          mat-flat-button
        >
          <i class="far fa-calendar-times mr-2"></i>
          <span>Clear</span>
        </button>
      </div>
    </header>
  </div>
</section>
