<section id="league-schedule" class="row">
  <div class="col">
    <header>
      <h2>League Schedule</h2>

      <div id="actions">
        <button
          color="accent"
          mat-flat-button
          (click)="onClickAutoGenerate()"
        >
          <i class="fas fa-magic mr-2"></i>
          <span>Auto-Generate</span>
        </button>

        <button
          color="primary"
          mat-flat-button
        >
          <i class="far fa-calendar-plus mr-2"></i>
          <span>Add</span>
        </button>

        <button
          color="warn"
          mat-flat-button
          (click)="onClickClearGames()"
        >
          <i class="far fa-calendar-times mr-2"></i>
          <span>Clear</span>
        </button>
      </div>
    </header>

    <section
      id="groups"
      *ngIf="league.schedule.length > 0"
      [@groupsEnter]="league.schedule.length"
    >
      <app-admin-game-group
        *ngFor="let group of league.schedule; trackBy: trackById"
        [group]="group"
      >
      </app-admin-game-group>
    </section>

    <section id="no-groups" *ngIf="!league.schedule || league.schedule.length === 0">
      <p>No Games. Maybe add some? <i class="far fa-smile"></i></p>
    </section>
  </div>
</section>
