<app-admin-items *ngIf="leagues$ | async as leagues">
  <header>
    <h2>Leagues</h2>

    <button
      mat-flat-button
      color="accent"
      (click)="onClickOpenModal()"
    >
      <i class="fas fa-plus"></i>
      <span>New</span>
    </button>
  </header>

  <section id="leagues" class="items">
    <ng-container *ngIf="leagues.length > 0; else noLeagues">
      <ng-container *ngIf="groups.length > 0; else noGroups">
        <app-admin-league-groups
          [groups]="groups"
          [ungrouped]='ungrouped'>
        </app-admin-league-groups>
      </ng-container>

      <ng-template #noGroups>
        <article
          *ngFor="let league of leagues"
          [routerLink]="[league._id]"
        >
          {{ league.name }}
        </article>
      </ng-template>
    </ng-container>

    <ng-template #noLeagues>
      <p class="no-leagues">
        No leagues. Maybe create one? <i class="far fa-smile"></i>
      </p>
    </ng-template>
  </section>
</app-admin-items>
