<ng-container *ngIf="leagues$ | async as leagues">
  <header>
    <h2>Leagues</h2>

    <button
      mat-flat-button
      color="accent"
      routerLink="/admin/leagues/new"
    >
      <i class="fas fa-plus"></i>
      <span>New</span>
    </button>
  </header>

  <section id="leagues">
    <ng-container *ngIf="leagues.length > 0; else noLeagues">
      <article
        *ngFor="let league of leagues"
        [routerLink]="[league._id]"
      >
        {{ league.name }}
      </article>
    </ng-container>

    <ng-template>
      <p #noLeagues class="no-leagues">
        No leagues. Maybe create one? <i class="far fa-smile"></i>
      </p>
    </ng-template>
  </section>
</ng-container>
