<header *ngIf="type !== 'thumb'">
  <ng-container *ngIf="game.start; else noStart">
    <div class="game-start">
      <span class="label" *ngIf="!haveScore(game) && type !== 'list'">
        Starts On:
      </span>

      <ng-container *ngIf="type !== 'list'">
        <span class="date" *ngIf="!game.time">{{ game.start | date: 'EEEE, MMMM d' }}</span>
        <span class="date" *ngIf="game.time">{{ game.start | date: 'EEEE, MMMM d, h:mm a' }}</span>
      </ng-container>

      <ng-container *ngIf="type === 'list'">
        <span class="date">{{ game.start | date: 'M/dd' }}</span>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noStart>
    <p class="no-start" *ngIf="type !== 'list'">Date TBD</p>
    <p class="no-start" *ngIf="type === 'list'">TBD</p>
  </ng-template>
</header>

<article [ngClass]="{ 'away-top': me && isAway }">
  <ng-container
    *ngTemplateOutlet="team; context: { $implicit: game.home, homeOrAway: 'home' }"
  ></ng-container>

  <div class="status" *ngIf="type !== 'thumb'">
    <span class="versus">{{ (me && isAway) ? '@' : 'vs' }}</span>

    <span class="final" *ngIf="haveScore(game)">
      Final
    </span>
  </div>

  <ng-container
    *ngTemplateOutlet="team; context: { $implicit: game.away, homeOrAway: 'away' }"
  ></ng-container>
</article>

<footer *ngIf="type !== 'thumb'">
  <ng-container *ngIf="game.place && game.place._id; else noPlace">
    <section *ngIf="type !== 'list'" class="place">
      <div *ngIf="game.place.label">
        <span>{{ game.place.label }}</span>
        <ng-container
          *ngIf="game.place.locations && game.place.locations.length > 0"
        >
          <span> {{ game.place.locations | formatLocations }}</span>
        </ng-container>

        <a href="{{ game.place | gmapLink }}" title="Location" target="_blank">
          <i class="fas fa-map-marker-alt"></i>
        </a>
      </div>

      <ng-template #address let-address>
        <div *ngIf="address.street">{{ address.street }}</div>
        <div *ngIf="address.city && address.state && address.postal">
          {{ address.city }} {{ address.state }}, {{ address.postal }}
        </div>
      </ng-template>

      <div class="address" *ngIf="game.place.address">
        <ng-container
          *ngTemplateOutlet="address; context: {
            $implicit: game.place.address
          }"
        ></ng-container>
      </div>
    </section>

    <a *ngIf="!haveScore(game) && type === 'list'" href="{{ game.place | gmapLink }}" title="Location" target="_blank">
      <i class="fas fa-map-marker-alt"></i>
    </a>
  </ng-container>

  <ng-template #noPlace>
    <p class="no-place" *ngIf="type !== 'list'">Location TBD</p>
  </ng-template>

  <ng-container *ngIf="type === 'list'">
    <section class="score" *ngIf="haveScore(game)">
      <span class="home">{{ game.home.score }}</span>
      <span>-</span>
      <span class="away">{{ game.away.score }}</span>
    </section>
  </ng-container>
</footer>

<ng-template #team let-team let-homeOrAway="homeOrAway">
  <div
    class="team"
    [id]="homeOrAway"
    [ngClass]="{ 'is-user': isUser(homeOrAway) }"
  >
    <figure>
      <img *ngIf="team.img" [src]="team.img">
      <i *ngIf="!team.img" class="fas fa-tshirt"></i>
    </figure>

    <div class="info">
      <div class="name">{{ team.name }}</div>

      <div class="record" *ngIf="!type">{{ team.record ? team.record : '0 - 0 - 0' }}</div>
    </div>

    <ng-container *ngIf="type !== 'list'">
      <span *ngIf="team.score" class="score">{{ team.score }}</span>
      <span *ngIf="!team.score" class="score">-</span>
    </ng-container>
  </div>
</ng-template>
