<header *ngIf="size !== 'sm'">
  <ng-container *ngIf="game.start; else noStart">
    <div id="game-start">
      <span id="label" *ngIf="!game.home.score && !game.away.score">
        Starts On:
      </span>

      <span id="date" *ngIf="!game.time">{{ game.start | date: 'EEEE, MMMM d' }}</span>
      <span id="date" *ngIf="game.time">{{ game.start | date: 'EEEE, MMMM d, h:mm a' }}</span>
    </div>
  </ng-container>

  <ng-template #noStart>
    <p id="no-start">Date TBD</p>
  </ng-template>
</header>

<article [ngClass]="{ 'away-top': loggedIn && isAway }">
  <ng-container
    *ngTemplateOutlet="team; context: { $implicit: game.home, homeOrAway: 'home' }"
  ></ng-container>

  <div id="info" *ngIf="size !== 'sm'">
    <span id="versus">{{ (loggedIn && isAway) ? '@' : 'vs' }}</span>

    <span id="final" *ngIf="game.home.score && game.away.score">
      Final
    </span>
  </div>

  <ng-container
    *ngTemplateOutlet="team; context: { $implicit: game.away, homeOrAway: 'away' }"
  ></ng-container>
</article>

<footer *ngIf="size !== 'sm'">
  <section
  id="place"
  *ngIf="game.place && game.place._id; else noPlace"
  >
    <div *ngIf="game.place.name">
      <span>{{ game.place.name }}</span>
      <ng-container
        *ngIf="game.place.locations && game.place.locations.length > 0"
      >
        <span>{{ game.place.locations | formatLocations }}</span>
      </ng-container>
    </div>

    <ng-template #address let-address>
      <div *ngIf="address.street">{{ address.street }}</div>
      <div *ngIf="address.city && address.state && address.postal">
        {{ address.city }} {{ address.state }}, {{ address.postal }}
      </div>
    </ng-template>

    <div id="address" *ngIf="game.place.address">
      <ng-container
        *ngTemplateOutlet="address; context: {
          $implicit: game.place.address
        }"
      ></ng-container>
    </div>
  </section>

  <ng-template #noPlace>
    <p>Location TBD</p>
  </ng-template>
</footer>

<ng-template #team let-team let-homeOrAway="homeOrAway">
  <div
    class="team"
    [id]="homeOrAway"
    [ngClass]="{ 'is-user': isUser(homeOrAway) }"
  >
    <figure>
      <img *ngIf="team.img" [src]="team.img">
      <i *ngIf="!team.img" class="fas fa-tshirt"></i>
    </figure>

    <div class="info">
      <div class="name">{{ team.name }}</div>

      <div class="record" *ngIf="size !== 'sm'">{{ team.record ? team.record : '0 - 0 - 0' }}</div>
    </div>

    <span *ngIf="team.score" class="score">{{ team.score }}</span>
    <span *ngIf="!team.score" class="score">-</span>
  </div>
</ng-template>
