<div class="wrapper">
  <section class="banner">
    <ul>
      <li><img src="assets/img/slider/logo-slider.jpg" alt="Chinatown Soccer is New York Cities premier organized sports league. We EAT, SLEEP, SPORTS." title="FlareNYCSports is New York Cities premier organized sports league. We EAT, SLEEP, SPORTS."></li>
    </ul>
    <nav></nav>
  </section>

  <section class="main-content">
    <aside>
      <img class="service-ad" src="assets/img/service-men-women.jpg" alt="Service Men and Women" />
      <img class="service-ad" src="assets/img/advertisement.jpg" alt="News about Chinatown Soccer"/>
    </aside>

    <section class="tab-content">
      <nav>
        <p>The Lates From <span>Chinatown</span>Soccer</p>
      </nav>

      <article class="tab" id="1">
        <section class="list-wrap">
          <ul class="content">
            <li>
              <img src="assets/img/coed.jpg" alt="Coed 8v8 Flag Football"><h1>Registration Open for Coed</h1><p><strong>Chinatown Soccer</strong>Offers divisions for those just discovering their love of the game and opportunities for those with more experience of soccer.</p>
            </li>

            <li>
              <img src="assets/img/join-team.jpg" alt="Volunteer for Bike MS"><h1>Volunteer for Bike MS</h1><p>In keeping with the Chinatown Soccer founding tradition of helping others, we would like to extend to you and your family/friends an opportunity to volunteer for one of the most rewarding bike rides in New York City, Bike MS taking place on October 20, 2019. The event is fully supported with catered rest stops, bike mechanics, a full meal, and support vehicles</p>
            </li>

            <li>
              <img src="assets/img/intramural.jpg" alt="Intramural Softball Under the Stars"><h1>Youth Program</h1><p>Start the Spring off on the right foot and sign-up for our Fun, Fast and , Wild Softball Under the Star. We are offering our participants a choice of two different division. One that is taking place on Mondays, starting on May 6, 2019 and another on Sundays, starting on May 12, 2019. Registration is open to all Corporate and self formed teams. Free-Agents are also welcomed.</p>
            </li>
          </ul>
        </section><!-- .list-wrap -->
      </article><!-- .tab, #1 -->
    </section><!-- .content-area -->

    <section class="store">
      <div class="previous">
        <img src="assets/img/navigate-left.png" alt="Previous" />
      </div><!-- .previous -->

      <div class="next">
        <img src="assets/img/navigate-right.png" alt="Next" />
      </div><!-- .next -->

      <section class="thumbs">
        <div class="page">
          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$10.00USD</em>

            <a href="#">BUY NOW</a>
          </article>

          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$10.00USD</em>

            <a href="#">BUY NOW</a>
          </article>

          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$10.00USD</em>

            <a href="#">BUY NOW</a>
          </article>

          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$10.00USD</em>

            <a href="#">BUY NOW</a>
          </article>
        </div><!-- .page -->

        <div class="page">
          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$11.00USD</em>

            <a href="#">BUY NOW</a>
          </article>

          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$11.00USD</em>

            <a href="#">BUY NOW</a>
          </article>

          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$11.00USD</em>

            <a href="#">BUY NOW</a>
          </article>

          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$11.00USD</em>

            <a href="#">BUY NOW</a>
          </article>
        </div><!-- .page -->
      </section><!-- .thumbs -->

      <section class="thumbs-mobile">
        <div class="page">
          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$10.00USD</em>

            <a href="#">BUY NOW</a>
          </article>
        </div><!-- .page -->

        <div class="page">
          <article>
            <img src="assets/img/t-shirt.jpg" alt="Short Sleve T-Shirt" />

            <strong>Short Sleve T-Shirt</strong>

            <em>$11.00USD</em>

            <a href="#">BUY NOW</a>
          </article>
        </div><!-- .page -->
      </section><!-- .thumbs -->

      <img class="store-logo" src="assets/img/flarenyc-estore.png" alt="eStore" />
    </section><!-- .store -->
