<section id="pagination">
  <label>{{ label }} Per Page</label>

  <mat-form-field>
    <mat-select [(value)]="perPage" (selectionChange)="onChange($event)">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="25">25</mat-option>
      <mat-option [value]="100">100</mat-option>
    </mat-select>
  </mat-form-field>

  <span *ngIf="totalItems">{{ start }} - {{ end }} of {{ totalItems }}</span>
  <span *ngIf="!totalItems">No {{ label }}</span>

  <button
    mat-icon-button
    id="prev"
    color="primary"
    (click)="onClickPrev()"
    [disabled]="currentPage <= 0"
  >
    <i class="fas fa-chevron-left"></i>
  </button>

  <button
    mat-icon-button
    id="next"
    color="primary"
    (click)="onClickNext()"
    [disabled]="currentPage >= (totalPages - 1)"
  >
    <i class="fas fa-chevron-right"></i>
  </button>
</section>
