@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

admin-item-section {
  display: block;
  margin: 0 0.5rem 1rem 0.5rem;

  header {
    align-items: center;
    border-bottom: 2px solid theme-color(primary);
    display: flex;
    padding: 0.25rem 0;

    h3 {
      color: theme-color(primary);
      font-size: 1rem;
      margin: 0;
      text-transform: uppercase;
    }

    div {
      margin-left: auto;

      button {
        background: none;
        border: none;
        color: theme-color(info);
        cursor: pointer;

        &.add {
          margin-right: 0.25rem;
        }
      }
    }
  }
}
