<ng-container *ngIf="users$ | async as users">
  <header>
    <h1>Users</h1>

    <button
      mat-flat-button
      color="primary"
      routerLink="/admin/users/new"
    >
      <i class="fas fa-plus"></i>
      <span>New</span>
    </button>
  </header>

  <table *ngIf="users.length > 0" class="table table-hover border">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let user of users"
        [routerLink]="[user._id]"
      >
        <td>
          {{ user.fullName }}
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="users.length === 0" class="no-users">
    No users. Maybe add some? <i class="far fa-smile ml-1"></i>
  </p>
</ng-container>
