<app-admin-items *ngIf="users$ | async as users">
  <header>
    <h2>Users</h2>

    <button
      mat-flat-button
      color="accent"
      (click)="onClickOpenModal()"
    >
      <i class="fas fa-plus"></i>
      <span>New</span>
    </button>
  </header>

  <section id="users" class="items">
    <ng-container *ngIf="users.length > 0; else noUsers">
      <article
        *ngFor="let user of users"
        [routerLink]="[user._id]"
      >
        {{ user.fullName }}
      </article>
    </ng-container>

    <ng-template #noUsers>
      <p class="no-items">
        No users. Maybe create one? <i class="far fa-smile"></i>
      </p>
    </ng-template>
  </section>
</app-admin-items>
