@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
  position: absolute;
  width: 17.5rem;
  z-index: 1;
}

section.date-picker {
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

header {
  background-color: theme-color-level(primary, 6);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  section.controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;

    h1 {
      color: $white;
      font-size: 1.2rem;
      margin: 0;
    }

    button {
      background: none;
      border: none;
      color: $white;
      cursor: pointer;
    }
  }

  section.days-of-week {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.5rem 0 0 0;

    div {
      line-height: 2rem;
      text-align: center;
      width: 2.5rem;
    }
  }
}

section.month {
  background-color: theme-color(primary);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.25rem 0;

  .week {
    display: flex;
    justify-content: flex-start;

    &:first-child {
      justify-content: flex-end;
    }

    div {
      color: $white;
      cursor: pointer;
      line-height: 2rem;
      text-align: center;
      width: 2.5rem;

      span.selected {
        color: theme-color(info);
      }
    }
  }
}
