<section class="date-picker" *ngIf="show">
  <header>
    <section class="controls">
      <button (click)="onClickChangeMonth($event, 'prev')">
        <i class="fas fa-angle-left"></i>
      </button>

      <h1>{{ month.format('MMM') }}</h1>

      <button (click)="onClickChangeMonth($event, 'next')">
        <i class="fas fa-angle-right"></i>
      </button>
    </section>

    <section class="days-of-week">
      <div>S</div>
      <div>M</div>
      <div>T</div>
      <div>W</div>
      <div>T</div>
      <div>F</div>
      <div>S</div>
    </section>
  </header>

  <section *ngIf="weeks.length > 0" class="month">
    <div *ngFor="let week of weeks" class="week">
      <div
        *ngFor="let day of week"
        (click)="onClickSelectDate(day)"
      >
        <span [ngClass]="{ selected: selectedDate && selectedDate.isSame(day) }">
          {{ day.date() }}
        </span>
      </div>
    </div>
  </section>
</section>
