<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <aside id="password" class="container-fluid">
    <div class="row no-gutters">
      <div class="col">
        <header>
          <h3>Change Password</h3>
        </header>

        <section id="form-fields">
          <fieldset>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input
                    matInput
                    type="password"
                    placeholder="Old Password"
                    formControlName="old"
                    required
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input
                    matInput
                    type="password"
                    placeholder="New Password"
                    formControlName="password"
                    required
                  >
                  <mat-error *ngIf="!passwordForm.get('password').hasError('required')">
                    Password must be at least 5 characters
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input
                    matInput
                    type="password"
                    placeholder="Confirm Password"
                    formControlName="confirm"
                    [errorStateMatcher]="matcher"
                    required
                  >
                  <mat-error *ngIf="passwordForm.hasError('notSame')">
                    Passwords must match
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </fieldset>
        </section>

        <section id="form-actions">
          <button
            mat-flat-button
            color="accent"
            class="mr-2"
            [disabled]="!passwordForm.valid"
          >
            <i class="fas fa-key mr-2"></i>
            <span>Change Password</span>
          </button>

          <button
            mat-flat-button
            color="warn"
            mat-dialog-close
          >
            <i class="fas fa-times mr-2"></i>
            <span>Cancel</span>
          </button>
        </section>
      </div>
    </div>
  </aside>
</form>
