@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

aside#password {
  background-color: theme-color(light);
  padding: 0.5rem 1rem 1rem 1rem;

  header {
    border-bottom: 3px solid theme-color(primary);
    margin: 0 0 1rem 0;

    h3 {
      color: $text-muted;
      margin: 0;
      padding: 0 0 0.5rem 0.5rem;
    }
  }

  section#form-fields {
    background-color: theme-color-level(light, 0.25);
    border: 1px solid theme-color-level(light, 1.5);
    border-radius: 2px;
    padding: 0 2rem;

    fieldset {
      .row {
        padding: 0.5rem 0;

        .col {
          mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }

  section#form-actions {
    margin-top: 1rem;
    text-align: right;
  }
}

@include media-breakpoint-up(sm) {
  aside#password {
    fieldset#group {
      mat-form-field {
        padding: 0 2rem;
      }
    }
  }
}
