<ng-container *ngIf="team$ | async as team">
  <app-modal-header>
    <h1>Delete {{ team.name }}</h1>
  </app-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit()">
    <h2>Enter name to confirm</h2>

    <p class="warning">WARNING: This cannot be undone!</p>

    <app-modal-form-field>
      <input
        name="name"
        ngModel
        placeholder="Enter Name"
        [appMustMatch]="team.name"
      >
    </app-modal-form-field>

    <app-modal-actions>
      <button id="delete" [disabled]="!f.valid">Delete</button>

      <button id="cancel" appModalClose>Cancel</button>
    </app-modal-actions>
  </form>
</ng-container>
