<ng-container *ngIf="league$ | async as league">
  <app-admin-league-form
    *ngIf="editingLeague"
    [league]="league"
    (saveClick)="editingLeague = !editingLeague"
    (cancelClick)="editingLeague = !editingLeague"
  >
  </app-admin-league-form>

  <app-admin-league-details
    *ngIf="!editingLeague"
    [league]="league"
    (edit)="editingLeague = !editingLeague"
  >
  </app-admin-league-details>

  <app-admin-league-nav
    (select)="onSelect($event)"
    [selected]="selected"
  >
  </app-admin-league-nav>

  <ng-container [ngSwitch]="selected">
    <app-admin-overview
      *ngSwitchCase="'overview'"
      [league]="league"
    >
    </app-admin-overview>

    <app-admin-league-schedule
      *ngSwitchCase="'schedule'"
      [league]="league"
    >
    </app-admin-league-schedule>
  </ng-container>
</ng-container>
