<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
  <section id="team-form">
    <header>
      <h1>Team Details</h1>

      <div id="actions-desktop">
        <button
          *ngIf="!team"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!teamForm.valid"
        >
          <i class="fas fa-plus"></i>
          <span>Create Team</span>
        </button>

        <button
          *ngIf="team"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!teamForm.valid"
        >
          <i class="fas fa-save"></i>
          <span>Save</span>
        </button>

        <button
          *ngIf="team"
          type="button"
          mat-flat-button
          color="warn"
          (click)="onCancel()"
        >
          <i class="fas fa-times"></i>
          <span>Cancel</span>
        </button>
      </div>
    </header>

    <section id="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Team Name"
          formControlName="name"
          required
        >
        <mat-error>Name is required.</mat-error>
      </mat-form-field>
    </section>

    <div id="actions-mobile">
      <button
        *ngIf="!team"
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!teamForm.valid"
      >
        <i class="fas fa-plus"></i>
        <span>Create</span>
      </button>

      <button
        *ngIf="team"
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!teamForm.valid"
      >
        <i class="fas fa-save"></i>
        <span>Save</span>
      </button>

      <button
        *ngIf="team"
        type="button"
        mat-flat-button
        color="warn"
        (click)="onCancel()"
      >
        <i class="fas fa-times"></i>
        <span>Cancel</span>
      </button>
    </div>
  </section>
</form>
