<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form [formGroup]="teamForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row pb-2 text-center align-items-center">
          <div class="col">
            <h1 class="h2 text-muted">Add Team</h1>
          </div>
        </div>

        <div class="row">
          <div class="col p-4 bg-light">
            <mat-form-field class="w-100">
              <input
                matInput
                required
                [matAutocomplete]="auto"
                formControlName="team"
                name="team"
                placeholder="Team Name"
              >
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let team of autocompleteOptions" [value]="team">
                {{ team.name }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col text-center pt-4 border-top">
            <button
              mat-flat-button
              color="primary"
              class="mr-2"
              [disabled]="teamForm.invalid"
            >
              <i class="fas fa-plus mr-1"></i>

              Add Team
            </button>

            <button
              mat-flat-button
              color="warn"
              [mat-dialog-close]="true"
            >
              <i class="fas fa-times mr-1"></i>

              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
