@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section#schedule {
  h1 {
    font-size: $h2-font-size;
    border-bottom: 3px solid theme-color(primary);
    margin: 0 0 1rem 0;
    padding: 0 0 0.5rem 0.5rem;
  }

  article {
    background-color: theme-color-level(light, 1);
    height: 350px;
    width: 100%;
  }
}
