<div id="top">
  <ng-container *ngIf="logo; else noLogo">
    <ng-content select="ngl-logo"></ng-content>
  </ng-container>

  <ng-template #noLogo>
    <a routerLink="/" title="ngLeague" id="name">ngLeague</a>
  </ng-template>

  <a routerLink="/" title="Home">Home</a>
  <a routerLink="/" title="Link #1">Link #1</a>
  <a routerLink="/" title="Link #2">Link #2</a>
  <a routerLink="/" title="Link #3">Link #3</a>

  <ng-container *ngIf="!me">
    <a routerLink="/login" title="Sign In">
      <span>Sign In</span> <i class="fas fa-sign-in-alt"></i>
    </a>
    <a routerLink="/sign-up" title="Sign Up!">Sign Up!</a>
  </ng-container>
</div>

<div *ngIf="me" id="bot">
  <ng-container *ngTemplateOutlet="user"></ng-container>
  <ng-container *ngTemplateOutlet="leagues"></ng-container>
  <ng-container *ngTemplateOutlet="teams"></ng-container>
  <ng-container *ngTemplateOutlet="admin"></ng-container>
</div>

<ng-template #user>
  <ngl-nav-dropdown class="user">
    <ngl-nav-dropdown-label>
      <span>Hi, {{ me.fullName }}</span>
    </ngl-nav-dropdown-label>

    <ngl-nav-dropdown-content>
      <a routerLink="/user">My Profile</a>
      <a routerLink="/logout">Sign Out <i class="fas fa-sign-out-alt"></i></a>
    </ngl-nav-dropdown-content>
  </ngl-nav-dropdown>
</ng-template>

<ng-template #leagues>
  <ngl-nav-dropdown class="leagues">
    <ngl-nav-dropdown-label>
      <i class="fa fa-sticky-note"></i>
      <span>My Leagues</span>
    </ngl-nav-dropdown-label>

    <ngl-nav-dropdown-content>
      <ng-container *ngIf="me.leagues && me.leagues.length > 0; else noLeagues">
        <a
          *ngFor="let league of me.leagues"
          routerLink="league/{{ league._id }}"
          [title]="league.name"
        >
          {{ league.name }}
        </a>
      </ng-container>

      <ng-template #noLeagues>
        <p>No Leagues</p>
      </ng-template>
    </ngl-nav-dropdown-content>
  </ngl-nav-dropdown>
</ng-template>

<ng-template #teams>
  <ngl-nav-dropdown class="teams">
    <ngl-nav-dropdown-label>
      <i class="fas fa-tshirt"></i>
      <span>My Teams</span>
    </ngl-nav-dropdown-label>

    <ngl-nav-dropdown-content>
      <ng-container *ngIf="me.teams && me.teams.length > 0; else noTeams">
        <a
          *ngFor="let team of me.teams"
          routerLink="team/{{ team._id }}"
          [title]="team.name"
        >
          {{ team.name }}
        </a>
      </ng-container>

      <ng-template #noTeams>
        <p>No Teams</p>
      </ng-template>
    </ngl-nav-dropdown-content>
  </ngl-nav-dropdown>
</ng-template>

<ng-template #admin>
  <ngl-nav-dropdown *ngIf="me.status && me.status.admin">
    <ngl-nav-dropdown-label>
      <i class="fas fa-key"></i>
      <span>Admin</span>
    </ngl-nav-dropdown-label>

    <ngl-nav-dropdown-content>
      <a routerLink="/admin/leagues" title="Leagues">Leagues</a>
      <a routerLink="/admin/teams" title="Teams">Teams</a>
      <a routerLink="/admin/users" title="Users">Users</a>
      <a routerLink="/admin/places" title="Places">Places</a>
    </ngl-nav-dropdown-content>
  </ngl-nav-dropdown>
</ng-template>
