<section
  *ngIf="unassignedTeams && unassignedTeams.length > 0"
  id="unassigned-teams"
  class="row"
  @unassignedTeamsToggle
>
  <div class="col">
    <h3 class="h6 text-muted">Unassigned Teams:</h3>

    <button
      *ngFor="let team of unassignedTeams; trackBy: trackById"
      mat-raised-button
      color="white"
      disableRipple="true"
      class="border mr-2 mb-2"
      appAdminDraggable
      (dragging)="onDrag($event, team)"
      @unassignedTeamEnter
    >
      {{ team.name }}
    </button>
  </div>
</section>

<ng-template #divisionRow let-divisions="divisions" let-depth="depth" let-parent="parent">
    <ng-container *ngFor="let division of divisions; let i = index; trackBy: trackById">
        <app-admin-droppable
          appAdminDraggable
          class="border-bottom"
          (dragging)="onDrag($event, division)"
          (dropped)="onDivisionDrop($event, division, parent, i)"
          [dragged]="dragged"
          [dropTarget]="division"
          [last]="(i + 1) === divisions.length"
          @divisionEnter
        >
          <div class="division" [ngStyle]="styleDivisionName(depth)">
            <div class="label">{{ division.name }}</div>

            <div class="actions">
              <button
                mat-icon-button
                color="primary"
                draggable="true"
                (dragstart)="stopPropagation($event)"
                (click)="onClickEditDivision(division)"
              >
                <i class="fas fa-pen"></i>
              </button>

              <button
                mat-icon-button
                color="primary"
                draggable="true"
                (dragstart)="stopPropagation($event)"
                (click)="onClickDeleteDivision(division)"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </app-admin-droppable>

        <ng-container *ngIf="division.teams.length > 0">
            <div class="teams">
              <app-admin-droppable
                *ngFor="let team of division.teams; let i = index"
                appAdminDraggable
                (dragging)="onDrag($event, team)"
                (dropped)="onTeamDrop($event, division, i)"
                [dragged]="dragged"
                [dropTarget]="team"
                [last]="(i + 1) === division.teams.length"
              >
                <div class="team">
                  <div class="label">{{ team.name }}</div>

                  <div class="actions">
                    <button
                      mat-icon-button
                      color="primary"
                      [routerLink]="['/admin/teams/', team._id]"
                      draggable="true"
                      (dragstart)="stopPropagation($event)"
                    >
                      <i class="fas fa-pen"></i>
                    </button>

                    <button
                      mat-icon-button
                      color="primary"
                      draggable="true"
                      (dragstart)="stopPropagation($event)"
                      (click)="onClickDelete(team)"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </app-admin-droppable>
            </div>
        </ng-container>

        <ng-container *ngIf="division.divisions && division.divisions.length > 0">
          <ng-container
            *ngTemplateOutlet="divisionRow, context: { divisions: division.divisions, depth: depth + 1, parent: division }"
          ></ng-container>
        </ng-container>
    </ng-container>
  </ng-template>

<div class="row">
  <div class="col">
    <section
      id="divisions"
      class="bg-white rounded"
      @divisionsEnter
    >
        <ng-container
          *ngTemplateOutlet="divisionRow, context: { divisions: league.divisions, depth: 0, parent: league }"
        >
        </ng-container>
    </section>
  </div>
</div>
