<header>
  <ng-container *ngIf="isMobile">
    <button id="mobile-menu" (click)="onClickToggleNav()">
      <i class="fas fa-bars"></i>
    </button>

    <a routerLink="/">
      <h1>ngLeague App</h1>
    </a>
  </ng-container>

  <ng-container #desktopNav></ng-container>

  <button
    *ngIf="loggedIn"
    id="notifications"
    (click)="onClickToggleNotifications()"
  >
    <i class="fas fa-bell"></i>

    <span *ngIf="$unread | async" @unreadNotifications></span>

    <ng-container #vc></ng-container>
  </button>
</header>
