<ng-container [formGroup]="miscForm">
  <ngl-sign-up-header>
    <h2>Enter additional info</h2>

    <p><span>*</span> required field</p>
  </ngl-sign-up-header>

  <ngl-sign-up-section formGroupName="emergency">
    <header>
      <h3>Emergency Info</h3>
    </header>

    <div id="name" formGroupName="name">
      <ui-form-field>
        <input
          formControlName="first"
          placeholder="First Name"
          uiInput
          required
        >
      </ui-form-field>

      <ui-form-field>
        <input
          formControlName="last"
          placeholder="Last Name"
          uiInput
          required
        >
      </ui-form-field>
    </div>

    <ui-form-field>
      <input
        type="tel"
        formControlName="phone"
        placeholder="Phone Number"
        uiInput
        required
      >
    </ui-form-field>

    <ui-form-field>
      <input
        type="tel"
        formControlName="secondary"
        placeholder="Secondary Phone"
        uiInput
      >
    </ui-form-field>
  </ngl-sign-up-section>

  <ngl-sign-up-section>
    <header>
      <h3>Additional Comments</h3>
    </header>

    <ui-form-field>
      <textarea
        formControlName="comments"
        placeholder="Enter Comments"
        uiInput
      ></textarea>
    </ui-form-field>
  </ngl-sign-up-section>

  <ngl-sign-up-actions>
    <button class="prev" uiStepPrev>
      <i class="fas fa-angle-left"></i>
      <span>Back</span>
    </button>

    <button
      class="next"
      [disabled]="!miscForm.valid"
      uiStepNext
    >
      <span>Next</span>
      <i class="fas fa-angle-right"></i>
    </button>
  </ngl-sign-up-actions>
</ng-container>
