<ng-container *ngIf="place$ | async as place">
  <ui-modal-header>
    <h1>Update Address</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
    <ui-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.street"
        name="street"
        placeholder="Enter Address"
      >
    </ui-modal-form-field>

    <ui-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.city"
        name="city"
        placeholder="City"
      >
    </ui-modal-form-field>

    <ui-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.state"
        name="state"
        placeholder="State"
      >
    </ui-modal-form-field>

    <ui-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.postal"
        name="postal"
        placeholder="Zip"
      >
    </ui-modal-form-field>

    <ui-modal-actions>
      <button id="save" [disabled]="!f.valid">Save</button>

      <button id="cancel" uiModalClose>Cancel</button>
    </ui-modal-actions>
  </form>
</ng-container>
