<ng-container *ngIf="place$ | async as place">
  <app-modal-header>
    <h1>Update Address</h1>
  </app-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
    <app-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.street"
        name="street"
        placeholder="Enter Address"
      >
    </app-modal-form-field>

    <app-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.city"
        name="city"
        placeholder="City"
      >
    </app-modal-form-field>

    <app-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.state"
        name="state"
        placeholder="State"
      >
    </app-modal-form-field>

    <app-modal-form-field>
      <input
        type="text"
        [ngModel]="place.address.postal"
        name="postal"
        placeholder="Zip"
      >
    </app-modal-form-field>

    <app-modal-actions>
      <button id="save" [disabled]="!f.valid">Save</button>

      <button id="cancel" appDialogClose>Cancel</button>
    </app-modal-actions>
  </form>
</ng-container>
