<ng-container *ngIf="user$ | async as user">
  <ui-modal-header>
    <h1>Update Address</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)">
    <ng-container ngModelGroup="address">
      <ui-modal-form-field>
        <input
          type="text"
          [ngModel]="user.address && user.address.street"
          name="street"
          placeholder="Enter Address"
        >
      </ui-modal-form-field>

      <ui-modal-form-field>
        <input
          type="text"
          [ngModel]="user.address && user.address.city"
          name="city"
          placeholder="City"
        >
      </ui-modal-form-field>

      <ui-modal-form-field>
        <input
          type="text"
          [ngModel]="user.address && user.address.state"
          name="state"
          placeholder="State"
        >
      </ui-modal-form-field>

      <ui-modal-form-field>
        <input
          type="text"
          [ngModel]="user.address && user.address.postal"
          name="postal"
          placeholder="Zip"
        >
      </ui-modal-form-field>

      <ui-modal-actions>
        <button id="save" [disabled]="!f.valid">Save</button>

        <button id="cancel" uiModalClose>Cancel</button>
      </ui-modal-actions>
    </ng-container>
  </form>
</ng-container>
