@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

app-modal {
  background-color: theme-color-level(primary, 4);
  margin-top: 3rem;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include media-breakpoint-up(sm) {
    background-color: rgba($black, 0.8);
    margin-top: 0;
    padding-top: 5rem;
  }

  h2 {
    color: theme-color-level(primary, -4);
    font-size: 1.4rem;
    margin: 1rem 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    color: theme-color-level(primary, -6);
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;

    &.warning {
      color: theme-color(danger);
      font-weight: 700;
    }
  }

  article {
    height: 100%;
    position: relative;

    @include media-breakpoint-up(sm) {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 5px 1px rgba($black, 0.4);
      height: auto;
      margin: 0 auto;
      max-width: 35rem;
      padding: 5px;
    }

    > button {
      background: none;
      border: none;
      color: $white;
      font-size: 1.2rem;
      position: absolute;
      top: 1rem;
      right: 0.5rem;

      @include media-breakpoint-up(sm) {
        color: theme-color(primary);
        right: 1rem;
      }
    }

    .app-modal-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      form {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 1rem 0;

        > .name {
          display: flex;
          flex: 0 0 auto;
          padding: 0 0.5rem;

          @include media-breakpoint-up(sm) {
            padding: 0 4rem;
          }

          app-modal-form-field {
            padding: 0 0.25rem;

            &:first-child {
              width: 40%;
            }

            &:last-child {
              width: 60%;
            }
          }
        }
      }
    }
  }
}
