<ng-template #team let-team="team" let-type="type">    
  <div id="{{ type }}" class="team">
    <div class="img">
      <img 
        *ngIf="team.img"
        src="team.img" 
        alt="{{ team.img }}"
      >
      
      <i 
        *ngIf="!team.img"
        class="fas fa-tshirt"
      ></i>
    </div>

    <div class="info">
      <div class="name">{{ team.name }}</div>

      <div class="record">{{ team.record ? team.record : '0 - 0 - 0' }}</div>
    </div>

    <div class="score">
      {{ team.score !== null ? team.score : '-' }}
    </div>
  </div>
</ng-template>

<section *ngIf="selectedGame" id="selected-game">
  <header>
    <ng-container *ngIf="selectedGame.start; else noStart">
      <span id="label" *ngIf="!selectedGame.home.score && !selectedGame.away.score">
        Starts On: 
      </span>

      <span id="date" *ngIf="!selectedGame.time">{{ selectedGame.start | date: 'EEEE, MMMM d' }}</span>
      <span id="date" *ngIf="selectedGame.time">{{ selectedGame.start | date: 'EEEE, MMMM d, h:mm a' }}</span>
    </ng-container>

    <ng-template #noStart>Date TBD</ng-template>
  </header>

  <article 
    id="game" 
    [ngClass]="{ 'is-home': isHome }"
  >
    <ng-container 
      *ngTemplateOutlet="team; context: { 
        team: selectedGame.away, 
        type: 'away'
      }"
    >
    </ng-container>

    <div id="info">
      <span id="versus">{{ isHome ? 'vs' : '@' }}</span>

      <span id="final" *ngIf="selectedGame.home.score && selectedGame.away.score">
        Final
      </span>
    </div>

    <ng-container 
      *ngTemplateOutlet="team; context: { 
        team: selectedGame.home, 
        type: 'home'
      }"
    >
    </ng-container>
  </article>

  <footer></footer>
</section>

<section id="upcoming-games"></section>