<ng-container *ngIf="team$ | async as team">
  <ui-modal-header>
    <h1>Add User</h1>
  </ui-modal-header>

  <form
    [formGroup]="userForm"
    autocomplete="off"
    (ngSubmit)="userForm.valid && onSubmit(userForm.value)"
  >
    <ui-modal-form-field>
      <input
        formControlName="email"
        placeholder="Enter Email"
        appModalInput
        autocomplete="disabled"
        [modalAutocomplete]="auto"
      >

      <ui-auto-complete #auto (autocompleteSelect)="onSelect($event)">
        <ui-option
          *ngFor="let option of options"
          [value]="option"
        >
          <div class="email">{{ option.email }}</div>
          <div class="name">{{ option.fullName }}</div>
        </ui-option>
      </ui-auto-complete>

      <a *ngIf="selectedUser" id="clear" (click)="onClickClearSelected()">
        <i class="fas fa-times"></i>
      </a>

      <div class="message">
        <span *ngIf="userForm.get('email').pending" class="pending">
          Checking Email...
        </span>

        <span *ngIf="userForm.get('email').hasError('notUnique')" class="error">
          Email is already in use!
        </span>
      </div>
    </ui-modal-form-field>

    <div class="name" formGroupName="name">
      <ui-modal-form-field>
        <input
          formControlName="first"
          placeholder="First Name"
        >
      </ui-modal-form-field>

      <ui-modal-form-field>
        <input
          formControlName="last"
          placeholder="Last Name"
        >
      </ui-modal-form-field>
    </div>

    <ui-modal-form-field>
      <ui-select
        formControlName="roles"
        placeholder="Select Roles"
        multiple
      >
        <ui-option value="player">Player</ui-option>
        <ui-option value="coach">Coach</ui-option>
        <ui-option value="manager">Manager</ui-option>
      </ui-select>
    </ui-modal-form-field>

    <ui-modal-actions>
      <button id="save" [disabled]="!userForm.valid">Add User</button>

      <button id="cancel" uiModalClose>Cancel</button>
    </ui-modal-actions>
  </form>
</ng-container>
