<section id="league-overview">
  <header>
    <h2>League Overview</h2>

    <div id="actions">
      <button
        mat-flat-button
        color="primary"
        (click)="onNewDivisionClick()"
      >
        <i class="fas fa-align-left"></i>

        <span>New Division</span>
      </button>

      <button
        mat-flat-button
        color="primary"
        (click)="onAddTeamClick()"
      >
        <i class="fas fa-tshirt"></i>

        <span>Add Team</span>
      </button>
    </div>
  </header>

  <app-admin-divisions
    *ngIf="league.divisions && league.divisions.length > 0; else teamList"
    [league]="league"
  >
  </app-admin-divisions>

  <ng-template #teamList>
    <app-admin-team-list
      *ngIf="league.teams && league.teams.length > 0; else p"
      [teams]="league.teams"
    >
    </app-admin-team-list>
  </ng-template>

  <ng-template #p>
    <section id="no-teams">
      <p @paragraphEnter>
        No teams or divisions. <i class="far fa-frown"></i>
      </p>
    </section>
  </ng-template>
</section>
