<admin-item *ngIf="place$ | async as place">
  <admin-item-header>
    <header>
      <h1>{{ place.label }}</h1>

      <div id="actions">
        <button (click)="settings = !settings">
          <span>Settings</span>

          <i class="fas fa-cog"></i>
        </button>
      </div>
    </header>
  </admin-item-header>

  <admin-item-settings *ngIf="settings">
    <button (click)="onClickOpenModal()">Delete Place</button>
  </admin-item-settings>

  <app-tab-selector
    [tabs]="['details', 'permits']"
    (select)="selected = $event"
  >
  </app-tab-selector>

  <section [ngSwitch]="selected">
    <admin-place-details
      *ngSwitchCase="'details'"
      [place]="place"
    >
    </admin-place-details>

    <admin-place-permits
      *ngSwitchCase="'permits'"
      [place]="place"
    >
    </admin-place-permits>
  </section>
</admin-item>
