<ng-container *ngIf="place$ | async as place">
  <app-admin-place-header [place]="place"></app-admin-place-header>

  <app-tab-selector
    [tabs]="['details', 'permits']"
    (select)="selected = $event"
  >
  </app-tab-selector>

  <section [ngSwitch]="selected">
    <app-admin-place-details
      *ngSwitchCase="'details'"
      [place]="place"
    >
    </app-admin-place-details>

    <app-admin-place-permits
      *ngSwitchCase="'permits'"
      [place]="place"
    >
    </app-admin-place-permits>
  </section>
</ng-container>
