<ui-modal-header>
  <h1>Update Roles</h1>
</ui-modal-header>

<form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)">
  <ui-modal-form-field>
    <ui-select
      name="roles"
      [ngModel]="user.roles"
      placeholder="Select Roles"
      required
      multiple
    >
      <ui-option value="player">Player</ui-option>
      <ui-option value="coach">Coach</ui-option>
      <ui-option value="manager">Manager</ui-option>
    </ui-select>
  </ui-modal-form-field>

  <ui-modal-actions>
    <button id="save" [disabled]="!f.valid">Save</button>

    <button id="cancel" uiModalClose>Cancel</button>
  </ui-modal-actions>
</form>
