<section id="permits">
  <header>
    <h1>Permits</h1>

    <button
      mat-flat-button
      color="primary"
      (click)="onClickAddPermit()"
    >
      <span>Add</span>
      <i class="fas fa-plus"></i>
    </button>
  </header>

  <section id="permit-list" *ngIf="permits.length > 0">
    <div *ngFor="let permit of permits" class="permit">
      <span>
        {{ permit.label }}
      </span>

      <div class="actions">
        <button mat-icon-button color="primary" (click)="onClickEditPermit(permit)">
          <i class="fas fa-pen"></i>
        </button>

        <button mat-icon-button color="primary" (click)="onClickDeletePermit(permit)">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </section>

  <p id="no-permits" *ngIf="permits.length === 0">
    No Permits.
  </p>
</section>
