@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

ngl-sign-up-section {
  display: block;
  padding: 1rem 0;

  header {
    align-items: flex-end;
    border-bottom: 3px solid theme-color(primary);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    h3 {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    button {
      background: none;
      border: none;
      color: theme-color(primary);
      cursor: pointer;
    }
  }

  section {

  }
}
