<app-modal-header>
  <h1>Remove {{ user.fullName }}</h1>
</app-modal-header>

<form #f="ngForm" (ngSubmit)="f.valid && onSubmit()">
  <h2>Enter Name to confirm:</h2>

  <p>Warning: Cannot be undone!</p>

  <app-modal-form-field>
    <input
      name="name"
      ngModel
      placeholder="Confirm Name"
      [appMustMatch]="user.fullName"
    >
  </app-modal-form-field>

  <app-modal-actions>
    <button id="save" [disabled]="!f.valid">Confirm</button>

    <button id="cancel" appModalClose>Cancel</button>
  </app-modal-actions>
</form>
