@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

#league-details {
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 1.5rem;

  #buttons-mobile {
    div:first-child {
      padding-right: 0.125rem;
    }

    div:last-child {
      padding-left: 0.125rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  #league-details {
    padding: 1.5rem;
  }
}
