<app-admin-item-section>
  <header>
    <h3>Emergency Contact</h3>

    <div>
      <button (click)="onClickOpenModal('emergency')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <app-admin-item-content>
    <ng-container *ngIf="user.emergency; else noEmergency">
      <div *ngIf="user.emergency.fullName">
        <span>Name:</span>
        {{ user.emergency.fullName }}
      </div>

      <div *ngIf="user.emergency.phone">
        <span>Phone:</span>
        {{ user.emergency.phone }}
      </div>

      <div *ngIf="user.emergency.secondary">
        <span>Secondary:</span>
        {{ user.emergency.secondary }}
      </div>
    </ng-container>

    <ng-template #noEmergency>
      No Emergency Contact
    </ng-template>
  </app-admin-item-content>
</app-admin-item-section>

<app-admin-item-section>
  <header>
    <h3>Additional Comments</h3>

    <div>
      <button (click)="onClickOpenModal('comments')">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </header>

  <app-admin-item-content>
    <ng-container *ngIf="user.comments; else noComments">
      {{ user.comments }}
    </ng-container>

    <ng-template #noComments>
      No Comments
    </ng-template>
  </app-admin-item-content>
</app-admin-item-section>
