<ng-template #team let-team="team" let-type="type">
  <div id="{{ type }}" class="team">
    <div class="img">
      <img
        *ngIf="team.img"
        src="team.img"
        alt="{{ team.img }}"
      >

      <i
        *ngIf="!team.img"
        class="fas fa-tshirt"
      ></i>
    </div>

    <div class="info">
      <div class="name">{{ team.name }}</div>

      <div class="record">{{ team.record ? team.record : '0 - 0 - 0' }}</div>
    </div>

    <div class="score">
      {{ team.score !== null ? team.score : '-' }}
    </div>
  </div>
</ng-template>

<section id="selected-game">
  <header>
    <h1 *ngIf="game.league">
      <span>{{ game.league.name }}</span>
      <span *ngIf="game.group && game.group._id">
         ({{ game.group.label }})
      </span>
    </h1>

    <ng-container *ngIf="game.start; else noStart">
      <div id="game-start">
        <span id="label" *ngIf="!game.home.score && !game.away.score">
          Starts On:
        </span>

        <span id="date" *ngIf="!game.time">{{ game.start | date: 'EEEE, MMMM d' }}</span>
        <span id="date" *ngIf="game.time">{{ game.start | date: 'EEEE, MMMM d, h:mm a' }}</span>
      </div>
    </ng-container>

    <ng-template #noStart>
      <p id="no-start">Date TBD</p>
    </ng-template>
  </header>

  <article
    id="game"
    [ngClass]="{ 'is-home': isHome }"
  >
    <ng-container
      *ngTemplateOutlet="team; context: {
        team: game.away,
        type: 'away'
      }"
    >
    </ng-container>

    <div id="info">
      <span id="versus">{{ isHome ? 'vs' : '@' }}</span>

      <span id="final" *ngIf="game.home.score && game.away.score">
        Final
      </span>
    </div>

    <ng-container
      *ngTemplateOutlet="team; context: {
        team: game.home,
        type: 'home'
      }"
    >
    </ng-container>
  </article>

  <footer>
    <section
      id="place"
      *ngIf="game.place && game.place._id; else noPlace"
    >
      <div *ngIf="game.place.name">
        <span>{{ game.place.name }}</span>
        <ng-container
          *ngIf="game.place.locations && game.place.locations.length > 0"
        >
          <span> {{ game.place.locations | formatLocations }}</span>
        </ng-container>
      </div>

      <ng-template #address let-address>
        <div *ngIf="address.street">{{ address.street }}</div>
        <div *ngIf="address.city && address.state && address.postal">
          {{ address.city }} {{ address.state }}, {{ address.postal }}
        </div>
      </ng-template>

      <div id="address" *ngIf="game.place.address">
        <ng-container
          *ngTemplateOutlet="address; context: {
            $implicit: game.place.address
          }"
        ></ng-container>
      </div>
    </section>

    <ng-template #noPlace>
      <p>Location TBD</p>
    </ng-template>
  </footer>
</section>
