<form [formGroup]="configForm" (ngSubmit)="onSubmit()">
  <header>
    <h1>Settings</h1>
  </header>

  <section id="settings" *ngIf="config">
    <mat-checkbox
      formControlName="multi"
    >
      Enable multi-site support
    </mat-checkbox>
  </section>

  <footer>
    <button
      type="submit"
      mat-flat-button
      color="accent"
      [disabled]="!configForm.valid"
    >
      <i class="fas fa-save"></i>

      <span>Save</span>
    </button>

    <button
      type="button"
      mat-flat-button
      color="warn"
      (click)="onCancel()"
    >
      <i class="fas fa-times"></i>

      <span>Cancel</span>
    </button>
  </footer>
</form>
