<section id="standings" *ngIf="teams">
  <h3>Standings</h3>

  <table>
    <thead>
      <tr>
        <th scope="col">Pos</th>
        <th scope="col">Club</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">D</th>
        <th scope="col">PTS</th>
        <th scope="col">GF</th>
        <th scope="col">GA</th>
        <th scope="col">GD</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.position }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.points }}</td>
        <td>{{ team.goalsFor }}</td>
        <td>{{ team.goalsAgainst }}</td>
        <td>{{ team.goalDifference }}</td>
      </tr>
    </tbody>
  </table>
</section>
