<section id="league-overview" class="row bg-light">
  <div class="col">
    <div class="row pb-2 border-bottom align-items-start justify-content-between">
      <header class="col-sm-8">
        <h2 class="h3 pb-2 text-muted">League Overview</h2>
      </header>

      <div class="col-sm-4">
        <div id="buttons-mobile" class="row">
          <div class="col-6">
            <button
              mat-flat-button
              color="primary"
              (click)="onNewDivisionClick()"
            >
              <i class="fas fa-align-left mr-1"></i>

              <span>New Division</span>
            </button>
          </div>

          <div class="col-6">
            <button
              mat-flat-button
              color="primary"
              (click)="onAddTeamClick()"
            >
              <i class="fas fa-tshirt mr-1"></i>

              <span>Add Team</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-admin-divisions
      *ngIf="league.divisions && league.divisions.length > 0; else teamList"
      [league]="league"
    >
    </app-admin-divisions>

    <ng-template #teamList>
      <app-admin-team-list
        *ngIf="league.teams && league.teams.length > 0; else p"
        [teams]="league.teams"
      >
      </app-admin-team-list>
    </ng-template>

    <ng-template #p>
      <p class="text-center text-muted pt-4" @paragraphEnter>
        No teams or divisions. <i class="far fa-frown ml-2"></i>
      </p>
    </ng-template>
  </div>
</section>
