<div class="row bg-light p-4">
  <div class="col">
    <div class="row mb-4 border-bottom align-items-start justify-content-between">
      <div class="col-sm-8">
        <h2 class="h3 text-muted pb-2">League Overview</h2>
      </div>

      <div class="col-sm-4">
        <button
          mat-flat-button
          color="primary"
          class="mr-2"
          (click)="onNewDivisionClick()"
        >
          <i class="fas fa-align-left mr-1"></i>

          New Division
        </button>

        <button
          mat-flat-button
          color="primary"
          class="mr-2"
          (click)="onAddTeamClick()"
        >
          <i class="fas fa-tshirt mr-1"></i>

          Add Team
        </button>
      </div>
    </div>

    <app-admin-divisions [league]="league"></app-admin-divisions>
  </div>
</div>
