<section id="league-overview" class="row bg-light">
  <div class="col">
    <div class="row pb-2 border-bottom align-items-start justify-content-between">
      <header class="col-sm-8">
        <h2 class="h3 pb-2 text-muted">League Overview</h2>
      </header>

      <div class="col-sm-4">
        <div id="buttons-mobile" class="row">
          <div class="col-6">
            <button
              mat-flat-button
              color="primary"
              (click)="onNewDivisionClick()"
            >
              <i class="fas fa-align-left mr-1"></i>

              <span>New Division</span>
            </button>
          </div>

          <div class="col-6">
            <button
              mat-flat-button
              color="primary"
              (click)="onAddTeamClick()"
            >
              <i class="fas fa-tshirt mr-1"></i>

              <span>Add Team</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-admin-divisions [league]="league"></app-admin-divisions>
  </div>
</section>
