@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

#place-form {
  margin: 0 0 2rem 0;
  padding: 0 0.5rem;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;

    h1 {
      color: $text-muted;
      font-size: $h3-font-size;
      margin: 0;
      text-transform: uppercase;
    }

    #actions-desktop {
      display: none;
    }
  }

  section#form {
    padding: 0 0 0.5rem 0;

    fieldset {
      margin: 1.5rem 1rem;

      header{
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.5rem;

        h2 {
          color: $text-muted;
          font-size: $h5-font-size;
          margin: 0;
          text-transform: uppercase;
        }

        button {
          box-shadow: none;
          margin-left: 1rem;
        }
      }
    }

    mat-form-field {
      width: 100%;
    }
  }

  #actions-mobile {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    button {
      width: 50%;

      i {
        margin-right: 0.5rem;
      }

      &:first-child {
        margin-right: 0.125rem;
      }

      &:last-child {
        margin-left: 0.125rem;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #place-form {
    background-color: theme-color(light);
    padding: 0 1.5rem;

    header {
      #actions-desktop {
        display: block;

        button {
          margin-left: 0.25rem;

          i {
            margin-right: 0.5rem;
          }
        }
      }
    }

    #actions-mobile {
      display: none;
    }
  }
}
