<ui-modal-header>
  <h1>Add Permit</h1>
</ui-modal-header>

<form [formGroup]="permitForm" (ngSubmit)="permitForm.valid && onSubmit()">
  <ui-toggler>
    <ui-toggle label="Single Date">
      <input
        type="radio"
        value="single"
        formControlName="toggle"
        #toggle
      >
    </ui-toggle>

    <ui-toggle label="Date Range">
      <input
        type="radio"
        value="multi"
        formControlName="toggle"
        #toggle
      >
    </ui-toggle>
  </ui-toggler>

  <ng-container formGroupName="date">
    <ui-modal-form-field>
      <input
        formControlName="start"
        placeholder="Start Date"
        [uiDatePicker]="startDate"
      >
      <ui-date-picker #startDate></ui-date-picker>
    </ui-modal-form-field>
  </ng-container>

  <ng-container formGroupName="time">
    <ui-modal-form-field>
      <input
        type="time"
        formControlName="start"
        placeholder="Start Time"
      >
    </ui-modal-form-field>

    <ui-modal-form-field>
      <input
        type="time"
        formControlName="end"
        placeholder="End Time"
      >
    </ui-modal-form-field>
  </ng-container>

  <ui-modal-actions>
    <button id="save">Save</button>
    <button id="cancel" uiModalClose>Cancel</button>
  </ui-modal-actions>
</form>
