<app-modal-header>
  <h1>Add Permit</h1>
</app-modal-header>

<form [formGroup]="permitForm" (ngSubmit)="permitForm.valid && onSubmit()">
  <app-modal-toggler>
    <app-modal-toggle label="Single Date">
      <input
        type="radio"
        value="single"
        formControlName="toggle"
        #toggle
      >
    </app-modal-toggle>

    <app-modal-toggle label="Date Range">
      <input
        type="radio"
        value="multi"
        formControlName="toggle"
        #toggle
      >
    </app-modal-toggle>
  </app-modal-toggler>

  <ng-container formGroupName="date">
    <app-modal-form-field>
      <input
        formControlName="start"
        placeholder="Start Date"
        [appModalDatePicker]="startDate"
      >
      <app-modal-date-picker #startDate></app-modal-date-picker>
    </app-modal-form-field>
  </ng-container>

  <ng-container formGroupName="time">
    <app-modal-form-field>
      <input
        type="time"
        formControlName="start"
        placeholder="Start Time"
      >
    </app-modal-form-field>

    <app-modal-form-field>
      <input
        type="time"
        formControlName="end"
        placeholder="End Time"
      >
    </app-modal-form-field>
  </ng-container>

  <app-modal-actions>
    <button id="save">Save</button>
    <button id="cancel" appModalClose>Cancel</button>
  </app-modal-actions>
</form>
