@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
  padding: 0 0.5rem;

  @include media-breakpoint-up(sm) {
    padding: 1rem;
  }
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    margin-bottom: 1rem;
  }
}
