<ng-container *ngIf="user$ | async as user">
  <ui-modal-header>
    <h1>Update Phone</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)">
    <ui-modal-form-field>
      <input
        type="tel"
        name="phone"
        [ngModel]="user.phone"
        placeholder="Phone Number"
      >
    </ui-modal-form-field>

    <ui-modal-form-field>
      <input
        type="tel"
        name="secondary"
        [ngModel]="user.secondary"
        placeholder="Secondary Phone"
      >
    </ui-modal-form-field>

    <ui-modal-actions>
      <button id="save" [disabled]="!f.valid">Save</button>

      <button id="cancel" uiModalClose>Cancel</button>
    </ui-modal-actions>
  </form>
</ng-container>
