@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  @include make-container(0);
  @include make-container-max-widths();
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-up(sm) {
    overflow: visible;
    width: auto;
  }
}