@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

section#invite-form {
  @include gradient-y(theme-color-level(primary, 2.5), theme-color-level(primary, -2.5));
  box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.3);
  height: 8.5rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  width: 100%;

  h1 {
    color: $white;
    font-size: 1.2rem;
    text-transform: uppercase;

    i {
      margin-left: 1rem;
    }
  }

  form {
    display: flex;
    margin: 1.5rem auto 0 auto;
    max-width: 24rem;
    width: 100%;

    input {
      background-color: theme-color-level(primary, 6);
      border: 2px solid theme-color-level(primary, -10);
      border-radius: 25px 0 0 25px;
      color: $white;
      flex: 1;
      padding: 0 1rem;
      line-height: 2rem;
    }

    button {
      background-color: theme-color-level(primary, -10);
      border: none;
      border-radius: 0 25px 25px 0;
      color: theme-color-level(primary, 10);
      display: block;
      font-size: 1rem;
      font-weight: 700;
      padding: 0 0.25rem 0 0;
      text-align: center;
      width: 5rem;
    }
  }

  p#error {
    color: theme-color-level(primary, -10);
    font-size: 0.8rem;
    margin: 0;
    padding: 0.5rem 0;
  }
}

article#user-invite {
  background-color: theme-color(light);
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  margin: 2rem auto auto auto;
  padding: 2rem;
  position: relative;
  width: 85%;

  #img {
    background-color: theme-color-level(light, 4);
    border-radius: 100%;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin: 0 auto;
    min-width: 5rem;
    position: relative;
    width: 5rem;

    @include media-breakpoint-up(sm) {
      border: none;
      margin: 0 auto;
    }

    #status {
      background-color: theme-color-level(light, 3);
      border: 2px solid theme-color(light);
      border-radius: 100%;
      height: 1.2rem;
      position: absolute;
      bottom: -0.15rem;
      right: 0.25rem;
      width: 1.2rem;
    }

    img {
      border-radius: 100%;
      height: 100%;
      width: 100%;
    }

    i.placeholder {
      color: theme-color(light);
      font-size: 2.4rem;
      padding: 1.25rem 0 0 0;
      text-align: center;
      width: 100%;
    }
  }

  h1 {
    color: $black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 0 0 0;
    text-align: center;
  }

  p {
    align-items: center;
    color: theme-color(primary);
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    margin: 2rem 0 0 0;
    padding: 0.5rem 0;
    text-align: center;
    text-transform: uppercase;

    i {
      font-size: 1.5rem;
      margin-top: -2px;
      margin-left: 0.5rem;
    }
  }

  button {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    width: 100%;

    i {
      margin-left: 1rem;
    }

    &:disabled {
      background-color: transparent;
      border: 3px solid theme-color(info);
      color: theme-color(info);
    }
  }
}