<section 
  id="invite-form" 
  @inviteForm 
  (click)="onClickInside($event)"
>
  <h1>
    <span>Invite Player</span>

    <i class="fas fa-user-plus"></i>
  </h1>

  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
    <input 
      type="email" 
      formControlName="email"
      placeholder="Enter Email"
      #email
    >

    <button type="submit">Search</button>
  </form>

  <ng-container *ngIf="emailCtrl.invalid && emailCtrl.touched">
    <p 
      *ngIf="emailCtrl.errors.email"
      id="error"
    >
      Please Enter a Valid Email
    </p>
  </ng-container>
</section>

<article 
  *ngIf="user"
  id="user-invite"
  (click)="onClickInside($event)"
  @userInvite
>
  <div id="img">
    <img *ngIf="user.img" [src]="user.img" [alt]="user.fullName">
    <i *ngIf="!user.img" class="placeholder fas fa-user"></i>

    <div id="status"></div>
  </div>

  <h1>{{ user.fullName }}</h1>

  <button 
    mat-flat-button 
    color="accent"
    (click)="onClickInvite()"
    [disabled]="invited"
  >
    <span *ngIf="!invited">Send Invite</span>
    <span *ngIf="invited">Invited</span>

    <i *ngIf="!invited" class="fas fa-paper-plane"></i>
    <i *ngIf="invited" class="fas check"></i>
  </button>
</article>