@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  @include gradient-y(theme-color-level(primary, 2.5), theme-color-level(primary, -2.5));
  box-shadow: 0 -5px 10px 5px;
  height: 8.5rem;
  padding: 1rem;
  position: relative;
  text-align: center;

  h1 {
    color: $white;
    font-size: 1.2rem;
    text-transform: uppercase;

    i {
      margin-left: 1rem;
    }
  }

  form {
    display: flex;
    margin: 1.5rem auto 0 auto;
    max-width: 24rem;
    width: 100%;

    input {
      background-color: theme-color-level(primary, 6);
      border: 2px solid theme-color-level(primary, -10);
      border-radius: 25px 0 0 25px;
      color: $white;
      flex: 1;
      padding: 0 1rem;
      line-height: 2rem;
    }

    button {
      background-color: theme-color-level(primary, -10);
      border: none;
      border-radius: 0 25px 25px 0;
      color: theme-color-level(primary, 10);
      font-weight: 700;
      padding: 0 0.25rem 0 0;
      text-align: center;
      width: 5rem;
    }
  }

  p#error {
    color: theme-color-level(primary, -10);
    font-size: 0.8rem;
    margin: 0;
    padding: 0.5rem 0;
  }
}