<section 
  id="invite-form" 
  @inviteForm 
  (click)="onClickInside($event)"
  (swipeup)="onSwipeup()"
>
  <h1>
    <span>Invite Player</span>

    <i class="fas fa-user-plus"></i>
  </h1>

  <form [formGroup]="searchUserForm" (ngSubmit)="onSubmitSearchUser()">
    <input 
      type="email" 
      formControlName="email"
      placeholder="Enter Email"
      (keyup.enter)="onEnter()"
      (focus)="onFocus()"
      #email
    >

    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>

  <ng-container *ngIf="emailCtrl.invalid && emailCtrl.touched">
    <p 
      *ngIf="emailCtrl.errors.email"
      id="error"
    >
      Please Enter a Valid Email
    </p>
  </ng-container>
</section>

<article 
  *ngIf="searchComplete && user"
  id="user-invite"
  (click)="onClickInside($event)"
  @userInvite
>

  <div id="img">
    <img *ngIf="user.img" [src]="user.img" [alt]="user.fullName">
    <i *ngIf="!user.img" class="placeholder fas fa-user"></i>

    <div id="status"></div>
  </div>

  <h1>{{ user.fullName }}</h1>

  <ng-container *ngIf="teamMember; else: notTeamMember">
    <p id="already-member">
      <span>Already Member</span>
      <i class="fas fa-user-check"></i>
    </p>
  </ng-container>

  <ng-template #notTeamMember>
    <button 
      id="invite"
      mat-flat-button 
      color="accent"
      (click)="onClickInvite()"
      [disabled]="invited"
    >
      <span *ngIf="!invited">Send Invite</span>
      <span *ngIf="invited">Invited</span>

      <i *ngIf="!invited" class="fas fa-paper-plane"></i>
      <i *ngIf="invited" class="fas fa-check"></i>
    </button>
  </ng-template>
</article>



<article 
  *ngIf="searchComplete && !user"
  id="user-invite"
  (click)="onClickInside($event)"
  @userInvite
>
  <div id="no-user">
    <i class="placeholder fas fa-user-times"></i>
  </div>

  <h1>User not found!</h1>

  <p id="enter-name">Enter Name</p>

  <form 
    id="new-user" 
    [formGroup]="sendInviteForm"
    (ngSubmit)="onSubmitSendInvite()"
  >
    <mat-form-field>
      <input 
        type="text"
        formControlName="first"
        placeholder="First"
        matInput
        required
      >
    </mat-form-field>

    <mat-form-field>
      <input 
        type="text"
        formControlName="last"
        placeholder="Last"
        matInput
        required
      >
    </mat-form-field>

    <button 
      id="email"
      mat-flat-button 
      color="accent"
      [disabled]="!sendInviteForm.valid"
    >
      <span>Send Email</span>

      <i class="fas fa-envelope"></i>
    </button>
  </form>
</article>