<div class="row pb-2 mb-4 border-bottom">
  <div class="col-8">
    <h2 class="h4 mt-1 text-muted">Divisions</h2>
  </div>

  <div class="col-4 text-right">
    <button color="primary" mat-mini-fab (click)="onAddClick()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col text-center text-muted" *ngIf="!league.divisions || !league.divisions.length">
    <p class="pt-2 mb-0">No Divisions.</p>
  </div>

  <div class="col" *ngIf="league.divisions && league.divisions.length > 0">
    <ul class="list-group list-group-flush border">
      <li class="list-group-item list-group-item-light p-1 pl-4" *ngFor="let division of league.divisions">
        <div class="d-flex h-100 align-items-center justify-content-between">
          <div>
            {{ division.name }}
          </div>

          <div>
            <button mat-icon-button class="mr-1" (click)="onEditClick(division)">
              <i class="fas fa-pen"></i>
            </button>

            <button mat-icon-button (click)="onDeleteClick(division)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
