<section id="type">
  <header>
    <h2>What are you registering as?</h2>
  </header>

  <section id="select">
    <button
      id="player"
      (click)="onClickSelectType('player')"
      [ngClass]="{active: type === 'player'}"
    >
      <span>Free Agent</span>
      <i class="fa fa-user"></i>
    </button>

    <button
      id="team"
      (click)="onClickSelectType('team')"
      [ngClass]="{active: type === 'team'}"
    >
      <span>Team</span>
      <i class="fas fa-tshirt"></i>
    </button>
  </section>
</section>
