@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  background-color: $white;
  display: block;
  margin: 0 auto;
  max-width: 900px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}
