@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 900px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}
