@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  @include make-container(0);
  @include make-container-max-widths();
  display: block;
  background-color: #fff;
  padding: 20px 0;
}

section#admin {
  @include make-row(0);
  overflow: hidden;

  app-admin-nav {
    @include make-col-ready(0);

    @include media-breakpoint-up(sm) {
      @include make-col(2);
    }
  }

  section#dashboard {
    @include make-col-ready(0);
    padding: 0 0.5rem;
    margin-top: 60px;

    @include media-breakpoint-up(sm) {
      @include make-col(10);
      padding: 1rem 2rem;
      margin-top: 2rem;
    }
  }
}
