@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
}

section#user-info {
  background-color: theme-color(light);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;

  section#form {
    h2 {
      border-bottom: 2px solid theme-color(primary);
      color: theme-color(primary);
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0.5rem 0 0 0;
      padding: 0 0 0.5rem 0;
    }

    fieldset {
      padding: 0.5rem 1rem 0 1rem;

      mat-form-field {
        padding: 0 0 0.5rem 0;
        width: 100%;
      }
    }

    section#actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      button {
        padding: 0.25rem 1rem;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  section#user-info {
    padding: 1rem 2.5rem 1.5rem 2.5rem;
  }
}
