@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

p {
  color: $gray-700;
  font-size: 0.8rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
