@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

p {
  background-color: black;
  border-bottom: 60px solid red;
  color: white;
  margin: 0;
  padding: 2rem 0;
}
