<form [formGroup]="permitForm" (ngSubmit)="onSubmit()">
  <aside id="permit">
    <header>
      <h3 *ngIf="new">Add Permit</h3>
      <h3 *ngIf="!new">Edit Permit</h3>
    </header>

    <mat-dialog-content>
      <section id="form-fields">
        <fieldset>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Permit Label"
              formControlName="label"
              required
            >
          </mat-form-field>
        </fieldset>
      </section>
    </mat-dialog-content>

    <section id="form-actions">
      <button
        *ngIf="new"
        mat-flat-button
        color="primary"
        [disabled]="!permitForm.valid"
      >
        <i class="fas fa-plus"></i>
        <span>Add Permit</span>
      </button>

      <button
        *ngIf="!new"
        mat-flat-button
        color="primary"
        [disabled]="!permitForm.valid"
      >
        <i class="fas fa-save"></i>
        <span>Save Permit</span>
      </button>

      <button
        mat-flat-button
        color="warn"
        mat-dialog-close
      >
        <i class="fas fa-times"></i>
        <span>Cancel</span>
      </button>
    </section>
  </aside>
</form>
