@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  background-color: theme-color-level(light, 0.5);
  display: block;
  padding-top: 3rem;
}
