@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  @include media-breakpoint-up(sm) {
    padding-top: 0;
  }
}
