@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
  padding-top: 3rem;

  @include media-breakpoint-up(sm) {
    padding-top: 0;
  }
}

main {
  @include make-container(0);
  @include make-container-max-widths();
}
