@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  border: 1px solid theme-color(primary);
  display: block;
  height: 0;
  margin: 0 auto;
  padding-top: 89.5%;
  position: relative;
  width: 100%;

  .month {
    background-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    header {
      background-color: theme-color-level(primary, -8);
      border-bottom: 1px solid theme-color(primary);
      height: 25%;
      position: relative;
      text-align: center;
      text-transform: uppercase;
  
      h1 {
        font-size: 1.25rem;
        padding: 0.5rem 0;
        margin: 0;
      }
  
      section.days-of-week {
        display: flex;
        padding: 0.5rem 0 0.25rem 0;
        position: absolute;
        bottom: 0;
        justify-content: center;
        width: 100%;
  
        div {
          display: inline-block;
          font-size: 0.8rem;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          width: 14.28%;
        }
      }
  
      .controls {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        width: 100%;
  
        button {
          background: none;
          border: none;
          color: theme-color(primary);
          cursor: pointer;
          padding: 0.5rem 2rem;
  
          &:hover {
            color: theme-color-level(primary, 2);
          }

          &.prev {
            margin-right: auto;
          }

          &.next {
            margin-left: auto;
          }
        }
      }
    }
  
    section.weeks {
      padding: 2px;
    }
  }
}