<div class="front">
  <header>
    <h1>{{ date.format('MMM, YYYY') }}</h1>
  
    <section class="days-of-week">
      <div>S</div>
      <div>M</div>
      <div>T</div>
      <div>W</div>
      <div>T</div>
      <div>F</div>
      <div>S</div>
    </section>

    <div class="controls" *ngIf="state === 'active'">
      <button (click)="onClickChangeMonth('previous')">
        <i class="fas fa-angle-left"></i>
      </button>

      <button (click)="onClickChangeMonth('next')">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </header>
  
  <section class="weeks">
    <ng-container #vc></ng-container>
  </section>
</div>

<div class="back"></div>