@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

app-modal-autocomplete {
  position: absolute;
  max-width: 15rem;
  z-index: 1;

  .options {
    background-color: theme-color-level(primary, 8);
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba($color: #000, $alpha: 0.6);
    color: #fff;
    padding: 1rem 0;
    width: 100%;

    app-modal-option {
      padding: 0 1rem 1rem 1rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
