@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

app-modal-stepper-header {
  align-items: center;
  background: theme-color-level(primary, 6);
  border-bottom: 1px solid theme-color(primary);
  display: flex;
  padding: 0.75rem 1rem;
  width:  100%;

  @include media-breakpoint-up(sm) {
    background-color: $white;
    border-bottom: none;
  }

  h1 {
    color: $white;
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 0;
    text-align: left;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      color: theme-color(primary);
    }

    span {
      display: block;
      font-size: 1.4rem;
      font-weight: normal;
    }
  }

  div {
    color: $white;
    font-style: italic;
    margin-left: 1rem;

    @include media-breakpoint-up(sm) {
      color: theme-color(primary);
    }
  }
}
