<app-admin-item *ngIf="team$ | async as team">
  <app-admin-item-header>
    <header>
      <h1>{{ team.name }}</h1>

      <div id="actions">
        <button (click)="settings = !settings">
          <span>Settings</span>

          <i class="fas fa-cog"></i>
        </button>
      </div>
    </header>
  </app-admin-item-header>

  <app-admin-item-settings *ngIf="settings">
    <button (click)="onClickOpenModal()">Delete Team</button>
  </app-admin-item-settings>

  <app-tab-selector
    [tabs]="['details', 'roster']"
    (select)="selected = $event"
  >
  </app-tab-selector>

  <section [ngSwitch]="selected">
    <app-admin-team-details
      *ngSwitchCase="'details'"
      [team]="team"
    >
    </app-admin-team-details>

    <app-admin-team-roster
      *ngSwitchCase="'roster'"
      [team]="team"
    >
    </app-admin-team-roster>
  </section>
</app-admin-item>
