@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding: 1rem 0;

  h2 {
    color: theme-color(dark);
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
  }

  button {
    i {
      margin-right: 0.5rem;
    }
  }
}

section#places {
  padding: 0 0 1rem 0;

  article {
    border-bottom: 1px solid theme-color-level(dark, -6);
    color: theme-color(primary);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem;

    &:first-child {
      border-top: 1px solid theme-color-level(dark, -6);
    }
  }

  p.no-places {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin:  0;
    padding: 1rem 0;
    text-align: center;
  }
}
