<app-admin-items *ngIf="places$ | async as places">
  <header>
    <h2>Places</h2>

    <button
      mat-flat-button
      color="accent"
      (click)="onClickOpenModal()"
    >
      <i class="fas fa-plus"></i>
      <span>New</span>
    </button>
  </header>

  <section id="places" class="items">
    <ng-container *ngIf="places.length > 0; else noPlaces">
      <article
        *ngFor="let place of places"
        [routerLink]="[place._id]"
      >
        {{ place.name }}
      </article>
    </ng-container>

    <ng-template #noPlaces>
      <p class="no-items">
        No places. Maybe create one? <i class="far fa-smile"></i>
      </p>
    </ng-template>
  </section>
</app-admin-items>
