<ng-container *ngIf="places$ | async as places">
  <header>
    <h2>Places</h2>

    <button
      mat-flat-button
      color="accent"
      routerLink="/admin/places/new"
    >
      <i class="fas fa-plus"></i>
      <span>New</span>
    </button>
  </header>

  <section id="places">
    <ng-container *ngIf="places.length > 0; else noPlaces">
      <article
        *ngFor="let place of places"
        [routerLink]="[place._id]"
      >
        {{ place.name }}
      </article>
    </ng-container>

    <ng-template>
      <p #noPlaces class="no-places">
        No places. Maybe create one? <i class="far fa-smile"></i>
      </p>
    </ng-template>
  </section>
</ng-container>
