@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section#profile {
  header {
    @include make-row(0);
    background-color: theme-color-level(light, 0.5);
    padding: 0 2rem 0.5rem 0;

    section#profile-img {
      @include make-col-ready(0);

      @include media-breakpoint-up(sm) {
        @include make-col(3);
      }

      figure {
        background-color: theme-color-level(light, 2);
        border-radius: 50%;
        margin: 0;
        height: 150px;
        margin: 1rem auto;
        position: relative;
        text-align: center;
        width: 150px;

        button {
          position: absolute;
          top: 0;
          z-index: 9999;

          &#upload, &#save { right: -5px; }
          &#cancel { left: -5px; }
        }

        input {
          display: none;
        }

        #img, #img-preview, #img-loading {
          border-radius: 50%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;

          &#img-loading {
            background: rgba(255, 255, 255, 0.85);
            height: 102%;
            top: -1%;
            left: -1%;
            z-index: 9998;
            width: 102%;

            mat-spinner {
              margin: 25px auto 0 auto;
              opacity: 0.2;
            }
          }

          &#img, &#img-preview {
            z-index: 9997;
          }

          i#placeholder {
            color: theme-color-level(light, -1);
            font-size: 4rem;
            padding: 2.5rem 0 0 0;
          }
        }

        #img-preview {
          cursor: grab;

          &.grabbed {
            cursor: grabbing;
          }
        }
      }
    }

    section#details {
      @include make-col-ready(0);
      padding: 1rem 0 0 1rem;

      @include media-breakpoint-up(sm) {
        @include make-col(9);
      }

      header {
        align-items: center;
        border-bottom: 3px solid theme-color(primary);
        display: flex;
        margin: 0 0 0.5rem 0;
        padding: 0 0 0.5rem 0.5rem;

        h1 {
          font-size: $h3-font-size;
          margin: 0 1rem 0 0;
        }

        button {
          font-size: 0.8rem;
          margin-top: 0.25rem;
          text-transform: uppercase;
        }

        span {
          background-color: theme-color-level(light, 2);
          border: 2px solid theme-color-level(light, 2);
          border-radius: 20px;
          color: $white;
          display: block;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1rem;
          margin: 0.5rem 0 0 auto;
          padding: 0.4rem 1rem;
          text-transform: uppercase;

          i {
            margin-left: 0.25rem;
          }

          &#verified {
            @include gradient-y(theme-color-level(success, -12), theme-color-level(success, -11));
            border-color: theme-color-level(success, 2);
            color: theme-color-level(success, 2);
          }

          &#unverified {
            @include gradient-y(theme-color-level(warning, -12), theme-color-level(warning, -11));
            border-color: theme-color-level(warning, 2);
            color: theme-color-level(warning, 2);
          }
        }
      }

      section#info {
        padding: 0 1rem;

        div {
          display: block;
          font-size: 1.25rem;
          margin: 0 0 1rem 0;

          span {
            display: block;
            font-weight: 500;
          }
        }

        #actions {
          margin-top: 0.25rem;
          width: 100%;

          button {
            margin-top: 0.25rem;
            width: 100%;
          }
        }
      }
    }
  }

  section#tabs {
    padding: 1rem;

    nav {
      border-top: 3px solid theme-color(primary);
      display: none;
      justify-content: space-evenly;
      margin-bottom: 2rem;
      padding: 0 0 1rem 0;

      button {
        background-color: theme-color-level(primary, -9);
        border: 3px solid theme-color-level(primary, -7);
        border-radius: 25px;
        color: theme-color-level(primary, 2);
        cursor: pointer;
        font-weight: 600;
        line-height: 1.4rem;
        margin-top: -1.2rem;
        padding: 0.25rem 1.25rem;
        transition: all 100ms ease-out;
        user-select: none;

        &:hover {
          background-color: theme-color-level(primary, -7);
        }

        &.active {
          background: none;
          background-color: theme-color(primary);
          border: 3px solid theme-color(primary);
          color: $white;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  section#profile {
    header {
      section#details {
        header {
          margin-bottom: 1rem;

          h1 {
            font-size: $h2-font-size;
          }
        }

        section#info {
          padding: 0;

          div {
            display: inline-block;
            margin: 0 1rem 0.5rem 0;

            span {
              display: inline-block;
              text-align: right;
            }
          }

          #actions {
            margin-top: 0.25rem;

            button {
              margin-top: 0;
              margin-right: 0.5rem;
              width: auto;
            }
          }
        }
      }
    }

    section#tabs {
      padding: 3rem 2rem 1rem 2rem;

      nav {
        border-top: 3px solid theme-color(primary);
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2rem;
        padding: 0 0 1rem 0;

        button {
          background-color: theme-color-level(primary, -9);
          border: 3px solid theme-color-level(primary, -7);
          border-radius: 25px;
          color: theme-color-level(primary, 2);
          cursor: pointer;
          font-weight: 600;
          line-height: 1.4rem;
          margin-top: -1.2rem;
          padding: 0.25rem 1.25rem;
          transition: all 100ms ease-out;
          user-select: none;

          &:hover {
            background-color: theme-color-level(primary, -7);
          }

          &.active {
            background: none;
            background-color: theme-color(primary);
            border: 3px solid theme-color(primary);
            color: $white;
          }
        }
      }
    }
  }
}
