<section id="profile" *ngIf="user">
  <header>
    <section id="profile-img">
      <figure>
        <button
          *ngIf="!imgPreview"
          id="upload"
          mat-mini-fab
          color="accent"
          (click)="file.click()"
        >
          <i class="fas fa-pen"></i>
        </button>

        <button
          *ngIf="imgPreview"
          id="cancel"
          mat-mini-fab
          color="warn"
          (click)="onClickCancel()"
        >
          <i class="fas fa-times"></i>
        </button>

        <button
          *ngIf="imgPreview"
          id="save"
          mat-mini-fab
          color="primary"
          (click)="onClickSave()"
        >
          <i class="fas fa-check"></i>
        </button>

        <input
          type="file"
          (change)="onFileSelect($event)"
          #file
        >

        <div id="img-loading" *ngIf="loadingImg">
          <mat-spinner></mat-spinner>
        </div>

        <div id="img-preview" *ngIf="imgPreview && imgPreview.el">
          <img
            *ngIf="imgPreview.loaded"
            [src]="imgPreview.el.src"
            [ngStyle]="position()"
            (pan)="onPan($event)"
            (panend)="onPanEnd($event)"
          >
        </div>

        <div id="img" *ngIf="!imgPreview">
          <img *ngIf="user.img" [src]="user.img">

          <i *ngIf="!user.img" id="placeholder" class="fas fa-user"></i>
        </div>
      </figure>
    </section>

    <section id="details">
      <header>
        <h1>User Profile</h1>

        <span id="verified" *ngIf="user.verified">
          Verified <i class="fas fa-check"></i>
        </span>

        <span id="unverified" *ngIf="!user.verified">
          Profile Incomplete <i class="fas fa-exclamation-circle"></i>
        </span>
      </header>

      <section id="info">
        <div id="name">
          <span>Name:</span>
          {{ user.fullName }}
        </div>

        <div id="email">
          <span>Email:</span>
          {{ user.email }}
        </div>

        <div id="actions">
          <button
            mat-flat-button
            color="primary"
            (click)="onClickEdit()"
          >
            <i class="fas fa-pen mr-2"></i>
            Edit Profile
          </button>

          <button
            mat-flat-button
            color="accent"
            (click)="onClickPasswordModal()"
          >
            <i class="fas fa-key mr-2"></i>
            Change Password
          </button>
        </div>
      </section>
    </section>
  </header>

  <section id="tabs">
    <nav>
      <button
        (click)="tab = 'schedule'"
        [ngClass]="{'active': tab === 'schedule'}"
      >
        <span>Schedule</span>
        <i class="far fa-calendar-alt ml-2"></i>
      </button>

      <button
        (click)="tab = 'stats'"
        [ngClass]="{'active': tab === 'stats'}"
      >
        <span>Stats</span>
        <i class="fas fa-stream ml-2"></i>
      </button>

      <button
        (click)="tab = 'activity'"
        [ngClass]="{'active': tab === 'activity'}"
      >
        <span>Activity</span>
        <i class="fas fa-chart-line ml-2"></i>
      </button>

      <button
        (click)="tab = 'settings'"
        [ngClass]="{'active': tab === 'settings'}"
      >
        <span>Settings</span>
        <i class="fas fa-cog ml-2"></i>
      </button>
    </nav>

    <ng-container>
      <app-user-schedule></app-user-schedule>
    </ng-container>
  </section>
</section>
