<article class="permit" (click)="onClickToggleSlots()">
  <span>
    {{ permit.label }}
  </span>

  <div class="actions">
    <button mat-icon-button color="primary" (click)="onClickEditPermit($event, permit)">
      <i class="fas fa-pen"></i>
    </button>

    <button mat-icon-button color="primary" (click)="onClickDeletePermit($event, permit)">
      <i class="fas fa-times"></i>
    </button>
  </div>
</article>

<section class="slots" *ngIf="slots" @slotsEnter>
  <header>
    <button
      *ngIf="permit.slots.length > 0"
      mat-flat-button
      color="warn"
      type="button"
      (click)="onClickClearTimes(permit._id)"
    >
      <i class="fas fa-times"></i>
      <span>Clear All</span>
    </button>

    <button
      mat-flat-button
      color="accent"
      type="button"
      (click)="onClickAddTimes(permit)"
    >
      <i class="fas fa-clock"></i>
      <span>Add Time</span>
    </button>
  </header>

  <ng-container *ngIf="permit.slots.length > 0; else noSlots">
    <article
      *ngFor="let slot of permit.slots; let i = index; trackBy: trackById"
    >
      <span>{{ slot.start | date:'short' }} - {{ slot.end | date:'h:mm a' }}</span>

      <div class="actions">
        <button
          mat-icon-button
          type="button"
          disableRipple="true"
          (click)="onClickRemoveSlot(slot._id)"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </article>
  </ng-container>

  <ng-template #noSlots>
    <p class="no-slots">No Time Slots</p>
  </ng-template>
</section>
