<ng-container *ngIf="notifications$ | async as notifications">
  <section class="notification-list" *ngIf="notifications.length > 0; else noNotifications" [@enterList]="notifications.length">
    <ngl-notification-item
      *ngFor="let notification of notifications; trackBy: _trackBy"
      [notification]="notification"
    ></ngl-notification-item>
  </section>

  <ng-template #noNotifications>
    <p id="no-notifications" @enterParagraph>
      No Notifications
    </p>
  </ng-template>
</ng-container>
