@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

ngl-logo {
  color: #fff;
  display: block;
  font-size: 5rem;
  line-height: 5rem;;
  position: absolute;
  top: 0.5rem;
  left: 1rem;

  a {
    color: #fff;
    transition: color 100ms ease-in-out;

    &:hover {
      color: lighten(theme-color(primary), 40%)
    }
  }
}
