<ng-container *ngIf="place$ | async as place">
  <ui-modal-header>
    <h1>Update Label</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
    <ui-modal-form-field>
      <input
        type="text"
        [ngModel]="place.label"
        name="label"
        placeholder="Enter a Label"
        required
      >
    </ui-modal-form-field>

    <ui-modal-actions>
      <button id="save" [disabled]="!f.valid">Save</button>

      <button id="cancel" uiModalClose>Cancel</button>
    </ui-modal-actions>
  </form>
</ng-container>
