@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  color: $white;
  font-size: 1.8rem;
  margin: 5rem 0 0 0;
  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-up(sm) {
    color: theme-color(primary);
  }
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem 0;

  @include media-breakpoint-up(sm) {
    padding: 2rem 0;
  }

  input {
    background-color: theme-color-level(primary, 6);
    border: 2px solid theme-color-level(primary, -2);
    border-radius: 3px;
    color: $white;
    font-size: 1.2rem;
    margin: 3rem auto 0 auto;
    max-width: 15rem;
    padding: 0.25rem 0.5rem;
    transition: border 50ms ease-in-out;
    width: 100%;

    @include media-breakpoint-up(sm) {
      background-color: theme-color-level(primary, -8);
      border: 2px solid theme-color-level(primary, -6);
      color: theme-color-level(primary, 6);
    }

    &:focus {
      border: 2px solid theme-color-level(primary, -2);
    }

    &.ng-invalid {
      border: 2px solid theme-color(danger);
    }

    &::placeholder {
      color: $gray-500;

      @include media-breakpoint-up(sm) {
        color: theme-color-level(primary, -2);
      }
    }
  }

  #actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 2rem 0;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: center;
      padding: 6rem 0 2rem 0;
    }

    button {
      background: none;
      border: none;
      border-radius: 3px;
      color: $white;
      display: block;
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;
      max-width: 15rem;
      padding: 0.5rem;
      text-transform: uppercase;
      transition: all 50ms ease-in;
      width: 100%;

      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
        margin-left: 0.5rem;
        width: 10rem;
      }

      &#save {
        background-color: theme-color(success);

        &:disabled {
          background-color: theme-color-level(success, -6);
          color: darken($white, 50%);
        }
      }

      &#close {
        background-color: theme-color(danger);
      }
    }
  }
}
