<ng-container *ngIf="place$ | async as place">
  <app-modal-header>
    <h1>Update Label</h1>
  </app-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
    <app-modal-form-field>
      <input
        type="text"
        [ngModel]="place.name"
        name="name"
        placeholder="Enter a Label"
        required
      >
    </app-modal-form-field>

    <app-modal-actions>
      <button id="save" [disabled]="!f.valid">Save</button>

      <button id="cancel" appDialogClose>Cancel</button>
    </app-modal-actions>
  </form>
</ng-container>
