<aside id="roster" *ngIf="team">
  <h1>Roster</h1>

  <ng-container *ngFor="let group of team.roster">
    <section *ngIf="group.users.length > 0">
      <h2>{{ group.role | titlecase }}</h2>

      <ul>
        <li
          *ngFor="let user of group.users"
          [ngClass]="{'online': user.status.online}"
        >
          <div class="img">
            <div class="status"></div>

            <figure>
              <img *ngIf="user.img" [src]="user.img" [alt]="user.fullName">
              <i *ngIf="!user.img" class="placeholder fas fa-user"></i>
            </figure>
          </div>

          <span>{{ user.fullName }}</span>
        </li>
      </ul>
    </section>
  </ng-container>
</aside>
