<aside id="roster">
  <h1>Roster</h1>

  <section>
    <h2>Manager</h2>

    <ul>
      <li *ngFor="let manager of team.managers">
        <figure>
          <img *ngIf="manager.img" [src]="manager.img" [alt]="manager.fullName">
          <i *ngIf="!manager.img" class="placeholder" class="fas fa-user"></i>
        </figure>

        <span>{{ manager.fullName }}</span>
      </li>
    </ul>
  </section>

  <section>
    <h2>Coach</h2>

    <ul>
      <li *ngFor="let coach of team.coaches">
        <figure>
          <img *ngIf="coach.img" [src]="coach.img" [alt]="coach.fullName">
          <i *ngIf="!coach.img" class="placeholder" class="fas fa-user"></i>
        </figure>

        <span>{{ coach.fullName }}</span>
      </li>
    </ul>
  </section>

  <section>
    <h2>Player</h2>

    <ul>
      <li *ngFor="let player of team.players">
        <figure>
          <img *ngIf="player.img" [src]="player.img" [alt]="player.fullName">
          <i *ngIf="!player.img" class="placeholder fas fa-user"></i>
        </figure>

        <span>{{ player.fullName }}</span>
      </li>
    </ul>
  </section>
</aside>
