@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

nav#home {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    align-items: center;
    flex-direction: row;
  }

  a {
    color: $white;
    display: block;
    font-size: 1.2rem;
    line-height: 3rem;
    padding: 0 1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
      font-weight: 700;
    }

    &:hover {
      background-color: theme-color-level(primary, 2);

      @include media-breakpoint-down(sm) {
        background-color: transparent;
      }
    }
  }

  button {
    height: 2.5rem;
    margin-left: 1rem;
    text-transform: uppercase;

    i {
      font-size: 1.2rem;
      margin-left: 0.5rem;
    }
  }
}
