<nav id="home">
  <a
    title="Home"
    (click)="onClick()"
  >
    <span>Home</span>
  </a>

  <a
    title="Link #1"
    (click)="onClick()"
  >
    <span>Link #1</span>
  </a>

  <a
    title="Link #2"
    (click)="onClick()"
  >
    <span>Link #2</span>
  </a>

  <a
    title="Link #3"
    (click)="onClick()"
  >
    <span>Link #3</span>
  </a>

  <a
    *ngIf="!me"
    title="Login"
    (click)="onClick(['login'])"
  >
    <span>Login</span>
  </a>

  <a
    *ngIf="!me && isMobile"
    title="Register"
  >
    <span>Sign Up!</span>
  </a>

  <button
    *ngIf="!me && !isMobile"
    mat-flat-button
    color="accent"
    routerLink="/register"
    title="Register"
  >
    <span>Sign Up!</span>
    <i class="far fa-hand-pointer"></i>
  </button>
</nav>
