<section id="locations" *ngIf="locations">
  <header>
    <h1>Locations</h1>

    <button
      mat-flat-button
      color="primary"
      (click)="onClickAddLocation()"
    >
      <span>Add</span>
      <i class="fas fa-plus"></i>
    </button>
  </header>

  <section id="location-list" *ngIf="locations.length > 0">
    <div *ngFor="let location of locations" class="location">
      <span>
        {{ location.name }}
      </span>

      <div class="actions">
        <button mat-icon-button color="primary" (click)="onClickEditLocation(location)">
          <i class="fas fa-pen"></i>
        </button>

        <button mat-icon-button color="primary" (click)="onClickDeleteLocation(location)">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </section>

  <p id="no-locations" *ngIf="locations.length === 0">
    No Locations.
  </p>
</section>
