@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section#locations {
  background-color: theme-color(light);
  padding: 1rem 1.5rem;

  header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;

    h1 {
      color: $text-muted;
      font-size: $h4-font-size;
      margin: 0 0 0.5rem;
    }

    button {
      i {
        margin-left: 0.5rem;
      }
    }
  }

  section#location-list {
    margin-bottom: 1rem;

    .location {
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      position: relative;

      .actions {
        position: absolute;
        right: 0;
        top: 0;
      }

      &:first-child {
        border-top: 1px solid $border-color;
      }
    }
  }

  p#no-locations {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    text-align: center;
  }
}

@include media-breakpoint-up(sm) {
  section#locations {
    section#location-list {
      .location {
        .actions {
          display: none;
        }

        &:hover .actions {
          display: block;
        }
      }
    }
  }
}
