<section id="schedule" *ngIf="league$ | async as league">
  <p *ngIf="league.schedule.length === 0">No Games Scheduled.</p>

  <ng-container *ngIf="league.schedule.length > 0">
    <h3>League Schedule</h3>

    <article>
      <nav>
        <button
          (click)="selectedGroupIndex = selectedGroupIndex - 1; selectedGroup = league.schedule[selectedGroupIndex]"
          [disabled]="selectedGroupIndex === 0"
        >
          <i class="fas fa-angle-left"></i>
        </button>

        <h4>{{ selectedGroup.label }}</h4>

        <button
          (click)="selectedGroupIndex = selectedGroupIndex + 1; selectedGroup = league.schedule[selectedGroupIndex]"
          [disabled]="selectedGroupIndex === league.schedule.length - 1"
        >
          <i class="fas fa-angle-right"></i>
        </button>
      </nav>

      <section id="game-list">
        <app-game
          *ngFor="let game of selectedGroup.games"
          [game]="game"
          type="list"
        ></app-game>
      </section>
    </article>
  </ng-container>
</section>
