<section id="complete">
  <header>
    <h2>Thank you!</h2>
    <i class="far fa-grin-alt"></i>
  </header>

  <div class="row">
    <div class="col">
      <p>
        Registration has been completed successfully!<br />
        In order to login you will need to verify your email address and create a password.<br />
        To do so you will need to click on the link we have emailed you to verify your information.
      </p>

      <p class="note">
        <em>
          Please note: Emails may take some time to delivered.<br />
          Please check your spam folder.<br />
          If email is missing please contact an administrator from the email you used to register.
        </em>
      </p>
    </div>
  </div>
</section>
