<header>
  <h1>
    Dashboard
  </h1>
</header>

<section *ngIf="noticeList" id="notice-list">
  <header>
    <h2>Notice List</h2>

    <button
      mat-flat-button
      color="primary"
      [disabled]="noticeList.notices.length === 0"
      (click)="onClickDeleteNotices()"
    >
      <span class="mr-2">Hide All</span>
      <i class="far fa-eye-slash"></i>
    </button>
  </header>

  <section
    *ngIf="noticeList.notices.length > 0; else noNotices"
    id="notices"
    [@noticeListEnter]
    (@noticeListEnter.start)="onAnimationStart($event)"
    (@noticeListEnter.done)="onAnimationEnd($event)"
  >
    <a
      *ngFor="let notice of noticeList.notices; trackBy: trackById"
      class="notice"
      [routerLink]="['/admin', notice.type.toLowerCase() + 's', notice.item._id]"
      (swipeleft)="onSwipeDeleteNotice(notice)"
      (swiperight)="onSwipeDeleteNotice(notice)"
      @noticeToggle
    >
      <span class="message">{{ notice.message }}</span>

      <span class="date">{{ notice.createdAt | date: 'medium'}}</span>

      <span class="actions">
        <a (click)="onClickDeleteNotice($event, notice)">
          <i class="fas fa-eye-slash"></i>
        </a>
      </span>
    </a>
  </section>

  <ng-template #noNotices>
    <p
      id="no-notices"
      [@noNoticesToggle]="noNoticesState"
    >
      No notices currently.
    </p>
  </ng-template>
</section>
