@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

header {
  h1 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    text-align: center;
  }
}

section#notice-list {
  padding: 1rem 0;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0 1rem 0.5rem 1rem;

    span {
      display: inline-block;
    }

    h2 {
      display: inline-block;
      font-size: $h3-font-size;
      margin: 0;
    }
  }

  section#notices {
    .notice {
      @include gradient-y(lighten(theme-color(light), 7%), theme-color(light));
      border-top: 1px solid darken(theme-color(light), 10%);
      border-bottom: 1px solid darken(theme-color(light), 10%);
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;

      .message {
        margin-bottom: 1rem;
        text-align: center;
      }

      .date {
        background-color: theme-color(primary);
        border-radius: 50px;
        color: color('white');
        display: block;
        font-weight: 500;
        height: 28px;
        margin: 0 1rem 0 0;
        line-height: 28px;
        padding: 0 1rem;
        text-align: center;
        width: 100%;
      }

      .actions {
        display: none;
        margin-right: 1rem;
        margin-left: auto;

        a {
          color: theme-color(primary);
          cursor: pointer;

          &:hover {
            color: lighten(theme-color(primary), 10%);
          }
        }
      }
    }
  }

  p#no-notices {
    border-top: 1px solid darken(theme-color(light), 10%);
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
  }
}

@include media-breakpoint-up(sm) {
  header {
    h1 {
      text-align: left;
    }
  }

  section#notice-list {
    padding: 1rem;

    header {
      border-bottom: 1px solid darken(theme-color(light), 10%);
    }

    section#notices {
      .notice {
        border: 1px solid darken(theme-color(light), 10%);
        align-items: center;
        border-radius: 50px;
        display: flex;
        flex-wrap: wrap;
        margin: 0.25rem 0;
        padding: 0.5rem;

        &:hover {
          @include gradient-y(theme-color(light), lighten(theme-color(light), 7%));

          .actions {
            display: inline-block;
          }
        }

        .message {
          margin-bottom: 0;
          order: 2;
          text-align: left;
        }

        .date {
          display: inline-block;
          font-size: 0.8rem;
          order: 1;
          width: 180px;
        }

        .actions {
          order: 3;
        }
      }
    }

    p#no-notices {
      border-top: none;
      font-size: 1rem;
    }
  }
}
