@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';


button {
  background: none;
  border: none;
  color: #fff;
  padding: 0 0.5rem;
  position: relative;
}

span {
  background-color: theme-color(danger);
  border: 3px solid theme-color(primary);
  border-radius: 50%;
  height: 1rem;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1rem;
}
