@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
  padding: 0 0.5rem;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

section#recover {
  background-color: theme-color(light);
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 400px;
  padding: 1rem 2rem 2rem 2rem;

  header {
    align-items: center;
    border-bottom: 1px solid $gray-300;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
    padding: 0 0.5rem 1rem 0.5rem;

    h1 {
      color: $gray-800;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;

      @include media-breakpoint-up(sm) {
        font-size: 2rem;
      }
    }

    i {
      color: theme-color(primary);
      font-size: 2rem;
      margin-left: 1rem;
    }
  }

  section#recover-form {
    border-radius: 10px;
    margin: 1rem auto;

    p {
      margin: 0 0 1rem 0;
      line-height: 2rem;
      text-align: center;

      em {
        color: theme-color(primary);
        font-size: 0.8rem;
        font-weight: 500;
      }
    }

    form {
      margin: 0 auto;
      max-width: 300px;

      mat-form-field {
        width: 100%;
      }

      button {
        margin-top: 1rem;
        width: 100%;
      }
    }
  }
}
