<section id="recover" class="container">
  <div class="row">
    <div class="col">
      <header>
        <h1>Password Recovery</h1>
        <i class="fas fa-check"></i>
      </header>

      <section id="recover-form">
        <p>
          We're sorry you lost your password.<br />
          Enter email below and we will assist you in creating a new password.<br />
        </p>

        <form *ngIf="!passwordSent" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input
                  matInput
                  type="email"
                  placeholder="Enter Email"
                  formControlName="email"
                  required
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button
                mat-flat-button
                color="primary"
                [disabled]="recoverForm.invalid"
              >
                <span>Recover Password</span>
                <i class="fas fa-key ml-2"></i>
              </button>
            </div>
          </div>
        </form>

        <p *ngIf="passwordSent">
          Thank you!<br />
          An email has been sent with instructions on how to recover your password.<br />
          <em>
            Please note: Emails may take some time to delivered.<br />
            Please check your spam folder.<br />
            If email is missing please contact an administrator from the email you used to recover your password.
          </em>
        </p>
      </section>
    </div>
  </div>
</section>
