<section id="team-details">
  <header>
    <h1>{{ team.name }}</h1>

    <div id="actions-desktop">
      <button
        mat-flat-button
        color="primary"
        (click)="onEditClick()"
      >
        <i class="fas fa-edit"></i>
        <span>Edit</span>
      </button>

      <button
        mat-flat-button
        color="warn"
        (click)="onDeleteClick()"
      >
        <i class="fas fa-trash-alt"></i>
        <span>Delete</span>
      </button>
    </div>
  </header>

  <div id="actions-mobile">
    <button
      mat-flat-button
      color="primary"
      (click)="onEditClick()"
    >
      <i class="fas fa-edit"></i>
      <span>Edit</span>
    </button>

    <button
      mat-flat-button
      color="warn"
      (click)="onDeleteClick()"
    >
      <i class="fas fa-trash-alt"></i>
      <span>Delete</span>
    </button>
  </div>
</section>
