<h1>Chinatown Soccer Leagues</h1>

<p>Chinatown Soccer offers year round adult leagues for men, women, youth & kids afterschool instructional classes mainly in Lower East Side Sara Roosevelt Park, Columbus Park.</p>

<p>Men Division Mon/Tue<br />
Youth U11 Saturday<br />
Youth U14 Sunday<br />
Instructional Classes Sat/Sun</p>

<h2>Men Divisions</h2>

<img src="assets/img/IMG_0828.JPG" />

<p>Come join our Men's Spring & Summer leagues. Our upcoming outdoor seasons include a 8 game minimum schedule with single elimination playoffs. You can register as a full team, or with a small group of friends, and we'll find a team for you!</p>

<ul>
  <li>Referees</li>
  <li>Reserved Fields Downtown Manhattan</li>
  <li>Team Shirts for all players</li>
  <li>Bragging rights & Championship hardware for winning teams!</li>
</ul>

<h2>Youth Divisions</h2>

<img src="assets/img/IMG_3886.JPG" />
<img src="assets/img/IMG_3883.JPG" />

<p>Our 7-a-side soccer at Sara Roosevelt Park is the ideal game – small sided means more goals and touches for each player, the action and the fun rarely stop! Play in our summer leagues to continue developing your team during the off season to complement your club program.</p>

<h2>Instructional Soccer</h2>

<img src="assets/img/IMG_5050.JPG" />
<img src="assets/img/IMG_5051.JPG" />

<p>Players will be challenged to achieve individual and team goals. Technical (fast footwork) and tactical instruction through small sided games to replicate real game situations. Each session is designed to help young players achieve their potential through progressive fun age appropriate exercises and drills.</p>

<p>For more information or any questions you can contact our Leagues & instructional class manager.</p>

<p>For more information or any questions you can contact our Leagues & instructional class manager.</p>

<p><a href="mailto:info@chinatownsoccer.com" title="info@chinatownsoccer.com">info@chinatownsoccer.com</a><br />
<a href="mailto:many@chinatownsoccer.com" title="many@chinatownsoccer.com">many@chinatownsoccer.com</a></p>
