<h1>Chinatown Soccer Leagues</h1>

<p>Chinatown Soccer offers year round adult leagues for men, women, youth & kids afterschool instructional classes mainly in Lower East Side Sara Roosevelt Park, Columbus Park.</p>

<p>Men Division Mon/Tue<br />
Youth U11 Saturday<br />
Coed Sunday</p>

<img src="assets/img/22.jpg" />
<img src="assets/img/26.jpg" />
<img src="assets/img/24.jpg" />

<p>For more information or any questions you can contact our Leagues & instructional class manager.</p>

<p><a href="mailto:info@chinatownsoccer.com" title="info@chinatownsoccer.com">info@chinatownsoccer.com</a><br />
<a href="mailto:many@chinatownsoccer.com" title="many@chinatownsoccer.com">many@chinatownsoccer.com</a></p>
