<form [formGroup]="leagueForm" (ngSubmit)="onSubmit()">
  <section id="league-form">
    <header>
      <h1>
        League Details
      </h1>

      <div id="actions-desktop">
        <button
          *ngIf="!league"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!leagueForm.valid"
        >
          <i class="fas fa-plus"></i>

          <span>Create League</span>
        </button>

        <button
          *ngIf="league"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!leagueForm.valid"
        >
          <i class="fas fa-save"></i>

          <span>Save</span>
        </button>

        <button
          *ngIf="league"
          type="button"
          mat-flat-button
          color="warn"
          (click)="onCancel()"
        >
          <i class="fas fa-times"></i>

          <span>Cancel</span>
        </button>
      </div>
    </header>

    <section id="form">
      <div class="row">
        <div class="col">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="League Name"
                formControlName="name"
                required
              >
              <mat-error>Name is required.</mat-error>
            </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              placeholder="League Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-2" *ngIf="config && config.multi">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Web Sites Belongs To</mat-label>
            <mat-select formControlName="sites" multiple>
              <mat-option *ngFor="let site of sites" [value]="site._id">{{ site.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </section>

    <div id="actions-mobile">
      <button
        *ngIf="!league"
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!leagueForm.valid"
      >
        <i class="fas fa-plus"></i>

        <span>Create</span>
      </button>

      <button
        *ngIf="league"
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!leagueForm.valid"
      >
        <i class="fas fa-save"></i>

        <span>Save</span>
      </button>

      <button
        *ngIf="league"
        type="button"
        mat-flat-button
        color="warn"
        (click)="onCancel()"
      >
        <i class="fas fa-times"></i>

        <span>Cancel</span>
      </button>
    </div>
  </section>
</form>
