@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  background-color: rgba(0, 0, 0, 0.85);
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include media-breakpoint-up(sm) {
    background: none;
    position: absolute;
    top: 0;
    right: 90%;
    bottom: auto;
    left: auto;
  }
}

article#user-card {
  display: flex;
  flex-direction: column;
  height: 65%;
  position: absolute;
  bottom: 0;
  width: 100%;

  @include media-breakpoint-up(sm) {
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    height: auto;
    min-width: 15rem;
    position: static;
    width: auto;
  }

  &.online {
    header {
      #img {
        #status {
          background-color: $green;
          z-index: 1;
        }
      }
    }
  }

  header {
    background-color: theme-color-level(light, 1);
    padding: 1rem;
    position: relative;
    height: 6rem;

    @include media-breakpoint-up(sm) {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      height: auto;
    }

    #img {
      background-color: theme-color-level(light, 4);
      border: 5px solid theme-color-level(light, 1);
      border-radius: 100%;
      box-sizing: content-box;
      display: flex;
      height: 5rem;
      justify-content: center;
      margin: -3.5rem auto 0 auto;
      min-width: 5rem;
      position: relative;
      width: 5rem;

      @include media-breakpoint-up(sm) {
        border: none;
        margin: 0 auto;
      }

      #status {
        background-color: theme-color-level(light, 3);
        border: 2px solid theme-color(light);
        border-radius: 100%;
        height: 1.2rem;
        position: absolute;
        bottom: -0.15rem;
        right: 0.25rem;
        width: 1.2rem;
      }

      img {
        border-radius: 100%;
        height: 100%;
        width: 100%;
      }

      i.placeholder {
        color: theme-color(light);
        font-size: 2.4rem;
        padding: 1.25rem 0 0 0;
        text-align: center;
        width: 100%;
      }
    }

    h1 {
      color: $black;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0.5rem 0 0 0;
      text-align: center;
    }
  }

  section#user-details {
    background-color: theme-color-level(light, 3);
    flex: 1;
    padding: 1rem;

    #roles {
      padding: 0 0 0.25rem 0;
      text-align: center;

      @include media-breakpoint-up(sm) {
        text-align: left;
      }

      h2 {
        display: none;

        @include media-breakpoint-up(sm) {
          font-size: 0.7rem;
          font-weight: 700;
          margin: 0;
          padding: 0 0 0.25rem 0;
          text-transform: uppercase;
        }
      }

      span {
        background-color: theme-color-level(light, 6);
        border-radius: 25px;
        color: theme-color-level(light, 2);
        display: inline-block;
        font-size: 0.6rem;
        font-weight: 700;
        margin: 0 0.25rem 0 0;
        padding: 0.15rem 0.5rem;
        text-transform: uppercase;
      }
    }
  }

  footer {
    background-color: theme-color-level(light, 3);
    border-top: 1px solid theme-color-level(light, 4);
    padding: 0 1rem;

    @include media-breakpoint-up(sm) {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    form {
      display: none;

      @include media-breakpoint-up(sm) {
        display: flex;
        padding: 1rem 0 0 0;
        width: 100%;
        
        input {
          background-color: theme-color-level(light, 6);
          border: 1px solid theme-color-level(light, 7);
          border-radius: 3px;
          color: theme-color-level(light, 2);
          flex-grow: 1;
          line-height: normal;
          padding: 0.25rem 0.5rem;
  
          &::placeholder {
            color: theme-color-level(light, 3);
            line-height: normal;
            text-align: center;
          }
        }
      }
    }

    p {
      display: none;
      
      @include media-breakpoint-up(sm) {
        color: theme-color-level(light, 6);
        display: block;
        font-size: 0.6rem;
        font-weight: 700;
        margin: 0;
        padding: 0.5rem 0;
        text-align: center;
      }
    }

    button {
      display: block;
      font-size: 1rem;
      margin: 1rem auto;
      max-width: 20rem;
      padding: 0.5rem;
      text-transform: uppercase;
      width: 100%;
      
      @include media-breakpoint-up(sm) {
        display: none;
      }

      i {
        margin-top: -2px;
        margin-left: 0.5rem;
      }
    }
  }
}
