@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

ui-modal {
  background-color: darken(theme-color(primary), 20%);
  display: block;
  margin-top: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include media-breakpoint-up(sm) {
    background-color: rgba(0, 0, 0, 0.85);
    margin-top: 0;
    padding-top: 5rem;
    z-index: 1;
  }

  .ui-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-breakpoint-up(sm) {
      background-color: darken(theme-color(primary), 20%);
      border-radius: 10px;
      box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
      height: auto;
      margin: 0 auto;
      width: 400px;
    }

    h2 {
      color: theme-color-level(primary, -4);
      font-size: 1.4rem;
      margin: 0 0 0.5rem 0;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      color: theme-color-level(primary, -6);
      margin: 0;
      padding: 0.5rem 0;
      text-align: center;

      &.warning {
        color: theme-color(danger);
        font-weight: 700;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 0.5rem;

      .name {
        display: flex;

        ui-modal-form-field {
          padding: 0 0.25rem;

          &:first-child { width: 40%; }
          &:last-child { width: 60%; }
        }
      }
    }
  }
}
