@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  background-color: theme-color-level(light, 1);
  display: block;
}

nav {
  @include make-row(0);
  align-items: center;

  @include media-breakpoint-up(sm) {
    padding-top: 2rem;
  }

  app-team-league-selector {
    @include make-col-ready(0);
    @include make-col(9);
  }

  app-team-schedule-view-mode {
    @include make-col-ready(0);
    @include make-col(3);
  }
}

section#team-games {
  @include make-row(0);

  app-team-selected-game {
    @include make-col-ready(0);
    @include make-col(12);

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
  }

  app-team-game-list {
    @include make-col-ready(0);
    @include make-col(12);

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
  }
}

section#team-calendar {
  @include make-row(0);

  app-calendar {
    @include make-col-ready(0);
    @include make-col(6);
  }

  app-team-league-info {
    @include make-col-ready(0);
    @include make-col(6);
  }
}