<aside *ngIf="isMobile" [ngClass]="{ 'open': navOpen }">
  <nav id="toggle" *ngIf="auth">
    <button [ngClass]="{ 'active': selected === 'home' }" (click)="selected = 'home'">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </button>

    <button [ngClass]="{ 'active': selected === 'user' }" (click)="selected = 'user'">
      <i class="fas fa-user"></i>
      <span>User</span>
    </button>

    <button [ngClass]="{ 'active': selected === 'leagues' }" (click)="selected = 'leagues'">
      <i class="fa fa-sticky-note"></i>
      <span>Leagues</span>
    </button>

    <button [ngClass]="{ 'active': selected === 'teams' }" (click)="selected = 'teams'">
      <i class="fas fa-tshirt"></i>
      <span>Teams</span>
    </button>

    <button
      *ngIf="auth.status && auth.status.admin"
      [ngClass]="{ 'active': selected === 'admin' }"
      (click)="selected = 'admin'"
    >
      <i class="fas fa-key"></i>
      <span>Admin</span>
    </button>
  </nav>

  <ng-container *ngIf="auth" [ngSwitch]="selected">
    <app-nav-home
      *ngSwitchCase="'home'"
    ></app-nav-home>

    <app-nav-user
      *ngSwitchCase="'user'"
      [auth]="auth"
    ></app-nav-user>

    <app-nav-leagues
      *ngSwitchCase="'leagues'"
      [leagues]="auth.leagues"
    ></app-nav-leagues>

    <app-nav-teams
      *ngSwitchCase="'teams'"
      [teams]="auth.teams"
    ></app-nav-teams>

    <app-nav-admin
      *ngSwitchCase="'admin'"
    ></app-nav-admin>
  </ng-container>

  <ng-container *ngIf="!auth">
    <app-nav-home></app-nav-home>
  </ng-container>
</aside>

<ng-container *ngIf="!isMobile">
  <div id="bar-top">
    <nav id="main">
      <a routerLink="/">
        <h1>ngLeague App</h1>
      </a>

      <app-nav-home></app-nav-home>
    </nav>
  </div>

  <div id="bar-bot" *ngIf="auth">
    <nav id="user">
      <app-nav-user
        [auth]="auth"
      ></app-nav-user>

      <app-nav-leagues
        [leagues]="auth.leagues"
      ></app-nav-leagues>

      <app-nav-teams
        [teams]="auth.teams"
      ></app-nav-teams>

      <app-nav-admin
        *ngIf="auth.status && auth.status.admin"
      ></app-nav-admin>
    </nav>
  </div>
</ng-container>
