@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  @include gradient-x(theme-color-level(primary, -1.5), $black, 98%, 100%);
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% - 3rem);

  @include media-breakpoint-up(sm) {
    background: none;
    border-right: none;
    display: block;
    margin-left: auto;
    padding-top: 0;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: auto;
    z-index: inherit;
  }
}

aside {
  display: flex;
  height: 100%;

  nav#toggle {
    background-color: theme-color-level(primary, 4.5);
    border-right: 1px solid theme-color-level(primary, 8);
    width: 5rem;
  
    button {
      align-items: center;
      background: none;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: none;
      color: theme-color-level(primary, -6.5);
      display: flex;
      height: 5rem;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      &.active {
        background-color: theme-color(primary);
        color: $white;

        span {
          color: $white;
        }
      }

      span {
        color: theme-color-level(primary, -6.5);
        display: block;
        font-size: 0.7rem;
        margin-top: 0.5rem;
        text-transform: uppercase;
      }

      i {
        font-size: 1.6rem;
      }
    }
  }
  
  nav#main {
    display: flex;
    flex: 1;
    flex-direction: column;
  
    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  
    a {
      border-bottom: 1px solid theme-color-level(primary, 8);
      color: $white;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 1rem;
  
      @include media-breakpoint-up(sm) {
        font-size: 1rem;
        padding: 0 1rem;
      }
    }
  }
}