@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;

  &.open {
    display: block;
  }

  @include media-breakpoint-up(sm) {
    align-items: center;
    background: none;
    border-right: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    padding: 0 0.5rem 0 0;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    z-index: inherit;
  }

  @include media-breakpoint-up(xl) {
    padding: 0;
  }
}

aside {
  background-color: theme-color(primary);
  border-top: 1px solid theme-color-level(primary, 8);
  display: flex;
  height: 100%;
  margin-top: 3rem;
  width: 100%;

  @include media-breakpoint-up(sm) {
    border-top: none;
    margin-top: 0;
    height: auto;
    width: auto;
  }

  nav#toggle {
    background-color: theme-color-level(primary, 4.5);
    border-right: 1px solid theme-color-level(primary, 8);
    flex: 0 0 auto;
    width: 4.5rem;

    @include media-breakpoint-up(sm) {
      display: none;
    }

    button {
      align-items: center;
      background: none;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: none;
      color: theme-color-level(primary, -6.5);
      display: flex;
      height: 4.5rem;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      &.active {
        background-color: theme-color(primary);
        color: $white;

        span {
          color: $white;
        }
      }

      span {
        color: theme-color-level(primary, -6.5);
        display: block;
        font-size: 0.7rem;
        margin-top: 0.5rem;
        text-transform: uppercase;
      }

      i {
        font-size: 1.4rem;
      }
    }
  }
}

#bar-top {
  background-color: theme-color(primary);
  width: 100%;

  nav#main {
    @include make-container(0);
    @include make-container-max-widths();
    align-items: center;
    display: flex;

    a {
      color: $white;
      flex: 1 0 auto;

      h1 {
        font-size: 1rem;
        font-weight: 700;
        margin: 0 0 0 1rem;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
}

#bar-bot {
  background-color: theme-color-level(primary, 4);
  width: 100%;

  nav#user {
    @include make-container(0);
    @include make-container-max-widths();
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
