@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

app-modal-actions {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: auto;
  padding: 1rem 0 0 0;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem 0 2rem 0;
  }

  button {
    align-items: center;
    background: none;
    border: none;
    border-radius: 3px;
    color: $white;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 1rem;
    max-width: 15rem;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: background-color 50ms ease-in;
    width: 100%;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
      margin-left: 0.5rem;
      width: 10rem;
    }

    i {
      font-size: 1.6rem;
      margin: 0.5rem;

      @include media-breakpoint-down(sm) {
        display: none !important;
      }
    }

    &#save {
      background-color: theme-color(success);
      &:disabled {
        background-color: $gray-200;
        color: $gray-400;
      }
    }

    &#next {
      background-color: theme-color(info);
      &:disabled {
        background-color: $gray-200;
        color: $gray-400;
      }
    }

    &#delete {
      background-color: theme-color(info);
      &:disabled {
        background-color: $gray-200;
        color: $gray-400;
      }
    }

    &#cancel {
      background-color: theme-color(danger);
      &:disabled {
        background-color: $gray-200;
        color: $gray-400;
      }
    }

    &#previous {
      background-color: theme-color-level(info, -2);
      &:disabled {
        background-color: $gray-200;
        color: $gray-400;
      }
    }

    @include media-breakpoint-up(sm) {
      &#delete, &#cancel, &#previous { order: 1; }
      &#save, &#next { order: 2; }
    }

    &:disabled {
      background-color: $gray-600;
      color: $gray-300;
    }
  }
}
