<ng-container *ngIf="league$ | async as league">
  <ui-modal-header>
    <h1>Delete {{ league.name }}</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit()">
    <h2>Enter name to confirm</h2>

    <p class="warning">WARNING: This cannot be undone!</p>

    <ui-modal-form-field>
      <input
        name="name"
        placeholder="League Name"
        ngModel
        [appMustMatch]="league.name"
      >
    </ui-modal-form-field>

    <ui-modal-actions>
      <button id="delete" [disabled]="!f.valid">Delete</button>

      <button id="cancel" uiModalClose>Cancel</button>
    </ui-modal-actions>
  </form>
</ng-container>
