<header>
  <h1>Sites</h1>

  <button
    mat-flat-button
    color="primary"
    routerLink="/admin/sites/new"
  >
    <i class="fas fa-plus"></i>
    <span>New</span>
  </button>
</header>

<section *ngIf="sites" id="sites">
  <table class="table table-hover" *ngIf="sites.length > 0">
    <thead>
      <tr>
        <th scope="col">Label</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let site of sites"
        [routerLink]="[site._id]"
      >
        <td>
          {{ site.label }}
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="sites.length === 0" class="no-sites">
    No sites. Maybe create one? <i class="far fa-smile"></i>
  </p>
</section>
