@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    margin-bottom: 1rem;
  }

  button {
    i {
      margin-right: 0.5rem;
    }
  }
}

p.no-sites {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin:  0;
  padding: 1rem 0;
  text-align: center;
}
