@import 'reset';
@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-dialog-container {
  padding: 0 !important;
}

.dragging {
  pointer-events: none;

  .drop-before {
    pointer-events: auto;
  }

  .drop-in {
    pointer-events: auto;

    * {
      pointer-events: none
    }
  }

  .drop-after {
    pointer-events: auto;
  }
}

app-admin-droppable:active {
  .actions {
    display: none !important;
  }
}
