@import 'reset';
@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
}

.mat-dialog-container {
  padding: 0 !important;

  .mat-dialog-content {
    padding: 0 !important;
    margin: 0 !important;
  }
}

mat-checkbox {
  user-select: none;

  label.mat-checkbox-layout {
    margin-bottom: 0 !important;
  }
}

.dragging-over {
  pointer-events: none;

  .drop-before {
    pointer-events: auto;
  }

  .drop-in {
    pointer-events: auto;

    * {
      pointer-events: none
    }
  }

  .drop-after {
    pointer-events: auto;
  }
}

.dragging {
  .actions {
    display: none !important;
  }
}

app-notice#notice {
  button {
    background-color: theme-color(light);
    color: theme-color(primary);
    height: 35px;
    line-height: 35px;
    margin-right: 1rem;
    width: 35px;

    i {
      font-size: 1.3rem;
    }
  }

  .notice {
    top: -7px;
    right: 3px;
    left: auto;
    z-index: 2;
  }
}
