@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
  @include make-container(0);
  @include make-container-max-widths();
  overflow: hidden;
}

section#team-main {
  @include make-row(0);
  min-height: 100vh;
  position: relative;

  @include media-breakpoint-up(sm) {
    border-right: 5px solid theme-color(light);
  }

  app-team-dashboard {
    @include make-col-ready(0);
    @include make-col(12);
  }

  &.sidebar-open {
    border-right: none;

    app-team-sidebar {
      @include media-breakpoint-up(sm) {
        @include make-col-ready(0);
        @include make-col(3);
      }
    }

    app-team-dashboard {
      @include make-col(12);

      @include media-breakpoint-up(sm) {
        @include make-col(9);
      }
    }
  }
}
