<nav class="navbar navbar-primary bg-primary fixed-top">
  <span class="navbar-brand mb-0 pl-2 h1 text-white">League App</span>

  <button
    mat-flat-button
    color="primary"
    (click)="onMenuClick()"
  >
    <i class="fas fa-2x fa-bars"></i>
  </button>
</nav>

<aside id="desktop">
  <h2 class="h6">
    League App
  </h2>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin']"
      >
        <i class="fa fa-home mr-2"></i>

        <span class="mr-2">Home</span>
      </a>
    </li>

    <li class="nav-item">
      <app-notification [total]="notifications.leagues.length">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'leagues']"
        >
          <i class="fa fa-sticky-note mr-2"></i>

          <span class="mr-2">Leagues</span>
        </a>
      </app-notification>
    </li>

    <li class="nav-item">
      <app-notification [total]="notifications.teams.length">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'teams']"
        >
          <i class="fas fa-tshirt mr-2"></i>

          <span class="mr-2">Teams</span>
        </a>
      </app-notification>
    </li>

    <li class="nav-item">
      <app-notification [total]="notifications.users.length">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'users']"
        >
          <i class="fa fa-user mr-2"></i>

          <span class="mr-2">Users</span>
        </a>
      </app-notification>
    </li>
  </ul>
</aside>

<aside [@slideNav]="menu" id="mobile" (click)="onCloseClick()">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin']">
        <i class="fa fa-home mr-2"></i>

        <span class="mr-2">Home</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'leagues']">
        <i class="fa fa-sticky-note mr-2"></i>

        <span class="mr-2">Leagues</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'teams']">
        <i class="fas fa-tshirt mr-2"></i>

        <span class="mr-2">Teams</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'users']">
        <i class="fa fa-user mr-2"></i>

        <span class="mr-2">Users</span>
      </a>
    </li>
  </ul>
</aside>
