@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

nav {
  align-items: center;
  background-color: theme-color(primary);
  color: $white;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  span {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0 0 0 0.5rem;
  }

  #actions {
    height: 35px;

    app-notice {
      display: inline-block;
    }
  }
}

aside#desktop {
  display: none;
}

aside#mobile {
  @include gradient-y(darken(theme-color(primary), 7%), theme-color(primary));
  background-color: theme-color(primary);
  height: 100%;
  padding-top: 60px;
  position: fixed;
  width: 100%;
  z-index: 998;

  ul.nav {
    border-top: darken(theme-color(primary), 80%);
    padding-top: 1.5rem;

    a.nav-link {
      color: $white;
      font-size: $h4-font-size;

      i {
        text-align: center;
        width: 75px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  nav {
    display: none;
  }

  aside#mobile {
    display: none;
  }

  aside#desktop {
    display: block;
    padding: 0 0.5rem;

    h2 {
      color: $text-muted;
      font-size: $h6-font-size;
      margin: 2rem 0 1rem 0;
      text-align: center;
      text-transform: uppercase;
    }

    ul.nav {
      background-color: theme-color-level(light, 1);
      @include border-radius();
      padding: 0.25rem;

      li.nav-item {
        margin-top: 0.25rem;

        &:first-child {
          margin-top: 0;
        }

        a.nav-link {
          background-color: theme-color(light);
          @include border-radius();
          padding: 0.5rem 0 0.5rem 2rem;

          i {
            text-align: center;
            width: 30px;
          }

          &:hover {
            background-color: theme-color-level(light, 0.25);
          }
        }
      }
    }
  }
}
