<nav *ngIf="config">
  <span>League App</span>

  <div id="actions">
    <app-notice
      id="notice"
      *ngIf="notices?.total"
      (click)="onCloseClick()"
      [total]="notices?.total"
      @toggleNotice
    >
      <button
        mat-icon-button
        [routerLink]="['/admin']"
      >
        <i class="fas fa-bell"></i>
      </button>
    </app-notice>

    <button
      mat-flat-button
      color="primary"
      (click)="onMenuClick()"
    >
      <i class="fas fa-2x fa-bars"></i>
    </button>
  </div>
</nav>

<aside *ngIf="config" id="desktop">
  <h2>
    League App
  </h2>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin']"
      >
        <i class="fa fa-home mr-2"></i>

        <span>Home</span>
      </a>
    </li>

    <li *ngIf="config.multi" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/sites']"
      >
        <i class="fas fa-network-wired mr-2"></i>

        <span>Sites</span>
      </a>
    </li>

    <li class="nav-item">
      <app-notice [total]="notices?.leagues">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'leagues']"
        >
          <i class="fa fa-sticky-note mr-2"></i>

          <span>Leagues</span>
        </a>
      </app-notice>
    </li>

    <li class="nav-item">
      <app-notice [total]="notices?.teams">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'teams']"
        >
          <i class="fas fa-tshirt mr-2"></i>

          <span>Teams</span>
        </a>
      </app-notice>
    </li>

    <li class="nav-item">
      <app-notice [total]="notices?.users">
        <a
          class="nav-link"
          [routerLink]="['/admin', 'users']"
        >
          <i class="fa fa-user mr-2"></i>

          <span>Users</span>
        </a>
      </app-notice>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'places']">
        <i class="fas fa-map-marker-alt mr-2"></i>

        <span>Places</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'settings']">
        <i class="fas fa-cog mr-2"></i>

        <span>Settings</span>
      </a>
    </li>
  </ul>
</aside>

<aside [@slideNav]="menu" id="mobile" (click)="onCloseClick()">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin']">
        <i class="fa fa-home mr-2"></i>

        <span>Home</span>
      </a>
    </li>

    <li *ngIf="config.multi" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/sites']"
      >
        <i class="fas fa-network-wired mr-2"></i>

        <span>Sites</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'leagues']">
        <i class="fa fa-sticky-note mr-2"></i>

        <span>Leagues</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'teams']">
        <i class="fas fa-tshirt mr-2"></i>

        <span>Teams</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'users']">
        <i class="fa fa-user mr-2"></i>

        <span>Users</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'places']">
        <i class="fas fa-map-marker-alt mr-2"></i>

        <span>Places</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'settings']">
        <i class="fas fa-cog mr-2"></i>

        <span>Settings</span>
      </a>
    </li>
  </ul>
</aside>
