@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

#site-form {
  background-color: theme-color(light);
  margin: 0 0 2rem 0;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-right: 0.5rem;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      color: $text-muted;
      font-size: $h2-font-size;
      margin: 0;
    }

    #actions {
      display: none;
    }
  }

  section#form {
    padding: 1rem 0 0 0;

    fieldset {
      margin: 1rem 0;

      h2 {
        color: $text-muted;
        font-size: $h5-font-size;
        margin-bottom: 1.5rem;
      }
    }

    mat-form-field {
      width: 100%;
    }
  }

  #actions-mobile {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    button {
      width: 50%;

      i {
        margin-right: 0.5rem;
      }

      &:first-child {
        margin-right: 0.125rem;
      }

      &:last-child {
        margin-left: 0.125rem;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #site-form {
    padding: 1.5rem;

    header {
      #actions {
        display: block;
      }
    }

    section#form {
      padding: 1rem;
    }

    #actions-mobile {
      display: none;
    }
  }
}
