<form [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmit()">
  <aside id="user">
    <header>
      <h3 *ngIf="new">Add User</h3>
      <h3 *ngIf="!new">Update User</h3>
    </header>

    <mat-dialog-content>
      <section id="form-fields">
        <fieldset>
          <ng-container *ngIf="new">
            <div formGroupName="name"  class="row no-gutters">
              <div class="col-sm-6">
                <mat-form-field>
                  <input
                    matInput
                    [matAutocomplete]="auto"
                    placeholder="First Name"
                    formControlName="first"
                    required
                  >
                </mat-form-field>

                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="onSelect($event)"
                >
                  <mat-option *ngFor="let user of autocompleteOptions" [value]="user">
                    {{ user.fullName }}
                  </mat-option>
                </mat-autocomplete>
              </div>

              <div class="col-sm-6">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Last Name"
                    formControlName="last"
                    required
                  >
                </mat-form-field>
              </div>
            </div>
          </ng-container>

          <div class="row no-gutters">
            <div class="col">
              <mat-form-field>
                <mat-select
                  placeholder="Roles"
                  multiple
                  formControlName="roles"
                  required
                >
                  <mat-option value="player">Player</mat-option>
                  <mat-option value="coach">Coach</mat-option>
                  <mat-option value="manager">Manager</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </fieldset>
      </section>
    </mat-dialog-content>

    <section id="form-actions">
      <button
        *ngIf="new"
        mat-flat-button
        color="primary"
        [disabled]="userForm.invalid"
      >
        <i class="fas fa-plus"></i>
        <span>Add User</span>
      </button>

      <button
        *ngIf="!new"
        mat-flat-button
        color="primary"
        [disabled]="userForm.invalid"
      >
        <i class="fas fa-plus"></i>
        <span>Update User</span>
      </button>

      <button
        *ngIf="!new"
        mat-flat-button
        color="accent"
        (click)="onClickRemoveUser()"
      >
        <i class="fas fa-times"></i>

        <span>Remove User</span>
      </button>

      <button
        mat-flat-button
        color="warn"
        mat-dialog-close
      >
        <i class="fas fa-times"></i>
        <span>Cancel</span>
      </button>
    </section>
  </aside>
</form>
