@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: block;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

nav#leagues {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  h1 {
    color: theme-color-level(primary, -10);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
  }

  ul {
    margin: 0.5rem 0;

    li a {
      font-size: 1.2rem;
      padding: 1rem;
    }
  }
}

a#leagues {
  color: theme-color-level(primary, -10);
  cursor: pointer;
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 3rem;
  padding: 0 1rem;
  position: relative;
  text-transform: uppercase;
  transition: color 50ms ease-in;

  &:hover {
    background-color: theme-color-level(primary, 6);
    color: $white;
  }

  i {
    margin-left: 0.5rem;
  }

  ul {
    background-color: theme-color-level(primary, 6);
    display: none;
    margin: 0;
    min-width: 10rem;
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 1;
  }

  &:hover ul {
    display: block;
  }

  li a {
    color: theme-color-level(primary, -10);
    font-size: 1rem;
    padding: 1rem;
    transition: color 50ms ease-in;

    &:hover {
      color: $white;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li a {
    color: $white;
    display: block;
    font-weight: initial;
    line-height: initial;
    text-transform: initial;
    white-space: nowrap;
  }
}
