@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;

  header {
    background-color: theme-color(primary);
    color: $white;
    display: flex;
    height: 3.5rem;
    position: relative;

    @include media-breakpoint-up(sm) {
      background-color: theme-color-level(light, 0.5);
      border-bottom: 3px solid theme-color(primary);
    }

    h1 {
      display: none;
    }

    button#team-mobile-toggle {
      align-items: center;
      background: none;
      border: none;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 1.2rem;
      font-weight: 700;
      height: 100%;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      text-transform: capitalize;
      transform: translateX(-50%);

      @include media-breakpoint-up(sm) {
        display: none;
      }

      span {
        margin: 0 1.25rem 0 0.75rem;
      }
    }

    nav#team-mobile {
      background-color: theme-color-level(primary, 2);
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 2;

      a {
        align-items: center;
        display: flex;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 700;
        justify-content: center;
        line-height: 3.5rem;
        position: relative;

        span {
          min-width: 7rem;
        }

        i {
          margin: 0 0.75rem 0 1.5rem;
          min-width: 1.7rem;
          text-align: center;
        }
      }
    }

    button#toggle {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: auto;
      width: 3.5rem;
      text-align: center;

      @include media-breakpoint-up(sm) {
        display: none;
      }

      i {
        color: $white;
        font-size: 1.2rem;
      }
    }

    section#tabs {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }

      nav {
        justify-content: space-evenly;
        position: relative;
        z-index: 1;

        button {
          background-color: theme-color-level(primary, -9);
          border: 3px solid theme-color-level(primary, -7);
          border-radius: 25px;
          color: theme-color-level(primary, 2);
          cursor: pointer;
          font-weight: 600;
          line-height: 1.4rem;
          margin-top: -1.2rem;
          padding: 0.25rem 1.25rem;
          transition: all 100ms ease-out;
          user-select: none;

          &:hover {
            background-color: theme-color-level(primary, -7);
          }

          &.active {
            background: none;
            background-color: theme-color(primary);
            border: 3px solid theme-color(primary);
            color: $white;
          }
        }
      }
    }
  }

  app-team-feed {
    flex: 1;
  }
}

@include media-breakpoint-up(sm) {
  :host {
    header {
      min-height: 10rem;
      padding: 1rem 0;
      position: relative;

      section#tabs {
        padding: 0 1rem;
        position: absolute;
        bottom: -19px;
        width: 100%;

        nav {
          display: flex;
          justify-content: space-evenly;

          button {
            background-color: theme-color-level(primary, -9);
            border: 3px solid theme-color-level(primary, -7);
            border-radius: 25px;
            color: theme-color-level(primary, 2);
            cursor: pointer;
            font-weight: 600;
            line-height: 1.4rem;
            margin-top: -1.2rem;
            padding: 0.25rem 1.25rem;
            transition: all 100ms ease-out;
            user-select: none;

            &:hover {
              background-color: theme-color-level(primary, -7);
            }

            &.active {
              background: none;
              background-color: theme-color(primary);
              border: 3px solid theme-color(primary);
              color: $white;
            }
          }
        }
      }
    }
  }
}
