<app-nav-slide>
  <h2>{{ team.name }}</h2>

  <app-tab-selector
    [tabs]="['home', 'feed', 'schedule', 'roster']"
    (select)="selected = $event"
  >
  </app-tab-selector>
</app-nav-slide>

<section id="team">
  <ng-container [ngSwitch]="selected">
    <app-team-feed
      *ngSwitchCase="'feed'"
      [feed]="team.feed"
    ></app-team-feed>

    <app-team-schedule
      *ngSwitchCase="'schedule'"
      [team]="team"
    >
    </app-team-schedule>

    <app-team-roster
      *ngSwitchCase="'roster'"
      [team]="team"
    >
    </app-team-roster>
  </ng-container>
</section>
