<form [formGroup]="placeForm" (ngSubmit)="onSubmit()">
  <section id="place-form">
    <header>
      <h1>
        Place Details
      </h1>

      <div id="actions-desktop">
        <button
          *ngIf="!place"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!placeForm.valid"
        >
          <i class="fas fa-plus"></i>

          <span>Create Place</span>
        </button>

        <button
          *ngIf="place"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="!placeForm.valid"
        >
          <i class="fas fa-save"></i>

          <span>Save</span>
        </button>

        <button
          *ngIf="place"
          type="button"
          mat-flat-button
          color="warn"
          (click)="onCancel()"
        >
          <i class="fas fa-times"></i>

          <span>Cancel</span>
        </button>
      </div>
    </header>

    <section id="form">
      <fieldset>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Place Label"
            formControlName="name"
            required
          >
          <mat-error>Name is required.</mat-error>
        </mat-form-field>
      </fieldset>

      <fieldset formGroupName="address">
        <header>
          <h2>Address</h2>
        </header>

        <div class="row">
          <div class="col-sm-8">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Street Address"
                formControlName="street"
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="City"
                formControlName="city"
              >
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="State"
                formControlName="state"
              >
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Postal Code"
                formControlName="postal"
              >
            </mat-form-field>
          </div>
        </div>
      </fieldset>

      <fieldset formArrayName="locations">
        <header>
          <h2>Locations</h2>

          <button
            type="button"
            mat-icon-button
            color="primary"
            (click)="addLocation()"
          >
            <i class="fas fa-plus"></i>
          </button>
        </header>

        <section *ngFor="let location of locations.controls; let i = index" id="locations">
          <div [formGroupName]="i">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Location #{{ i + 1 }}"
                formControlName="name"
              >

              <button
                matSuffix
                color="primary"
                type="button"
                mat-icon-button
                (click)="removeLocation(i)"
              >
                <i class="fas fa-times"></i>
              </button>
            </mat-form-field>
          </div>
        </section>
      </fieldset>
    </section>

    <div id="actions-mobile">
      <button
        *ngIf="!place"
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!placeForm.valid"
      >
        <i class="fas fa-plus"></i>

        <span>Create</span>
      </button>

      <button
        *ngIf="place"
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!placeForm.valid"
      >
        <i class="fas fa-save"></i>

        <span>Save</span>
      </button>

      <button
        *ngIf="place"
        type="button"
        mat-flat-button
        color="warn"
        (click)="onCancel()"
      >
        <i class="fas fa-times"></i>

        <span>Cancel</span>
      </button>
    </div>
  </section>
</form>
