@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section#roster {
  background-color: theme-color(light);
  margin: 0 0 2rem 0;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-right: 0.5rem;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h2 {
      color: $text-muted;
      font-size: $h3-font-size;
      margin: 0;
    }

    button {
      i {
        margin-right: 0.5rem;
      }
    }
  }

  p.no-users {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
  }

  section.users {
    h3 {
      color: $text-muted;
      margin: 1rem 0 0.5rem 0;
      padding: 0 0 0 0.5rem;
      font-size: $h5-font-size;
    }

    .user {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      position: relative;

      div {
        display: inline-block;
      }

      .actions {
        position: absolute;
        right: 0;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  section#roster {
    padding: 1.5rem;

    section.users {
      .user{
        .actions {
          display: none;
        }

        &:hover .actions {
          display: inline-block;
        }
      }
    }
  }
}
