<nav id="admin">
  <a
    routerLink="/admin"
    title="Dashboard"
    (click)="onClick()"
  >
    <span>Dashboard</span>
  </a>

  <a
    routerLink="/admin/leagues"
    title="Leagues"
    (click)="onClick()"
  >
    <span>Leagues</span>
  </a>

  <a
    routerLink="/admin/teams"
    title="Teams"
    (click)="onClick()"
  >
    <span>Teams</span>
  </a>

  <a
    routerLink="/admin/users"
    title="Users"
    (click)="onClick()"
  >
    <span>Users</span>
  </a>

  <a
    routerLink="/admin/places"
    title="Places"
    (click)="onClick()"
  >
    <span>Places</span>
  </a>
</nav>
