<nav *ngIf="isMobile" id="admin">
  <h1>Admin</h1>

  <ng-container *ngTemplateOutlet="adminLinks"></ng-container>
</nav>

<a
  *ngIf="!isMobile"
  id="admin"
  (mouseenter)="showMenu = true"
  (mouseleave)="showMenu = false"
  (click)="showMenu = false"
  [ngClass]="{ 'open': showMenu }"
>
  <span>Admin</span>
  <i class="fas fa-key"></i>

  <ng-container *ngTemplateOutlet="adminLinks"></ng-container>
</a>

<ng-template #adminLinks>
  <ul>
    <li>
      <a
        title="Leagues"
        (click)="onClick(['admin', 'leagues'])"
      >
        <span>Leagues</span>
      </a>
    </li>

    <li>
      <a
        title="Teams"
        (click)="onClick(['admin', 'teams'])"
      >
        <span>Teams</span>
      </a>
    </li>

    <li>
      <a
        title="Users"
        (click)="onClick(['admin', 'users'])"
      >
        <span>Users</span>
      </a>
    </li>

    <li>
      <a
        title="Places"
        (click)="onClick(['admin', 'places'])"
      >
        <span>Places</span>
      </a>
    </li>
  </ul>
</ng-template>
