<nav *ngIf="isMobile" id="admin">
  <h1>Admin</h1>

  <ng-container *ngTemplateOutlet="adminLinks"></ng-container>
</nav>

<a *ngIf="!isMobile" id="admin">
  <span>Admin</span>
  <i class="fas fa-key"></i>

  <ng-container *ngTemplateOutlet="adminLinks"></ng-container>
</a>

<ng-template #adminLinks>
  <ul>
    <li>
      <a
        routerLink="/admin"
        title="Notifications"
        (click)="onClick()"
      >
        <span>Notifications</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/leagues"
        title="Leagues"
        (click)="onClick()"
      >
        <span>Leagues</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/teams"
        title="Teams"
        (click)="onClick()"
      >
        <span>Teams</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/users"
        title="Users"
        (click)="onClick()"
      >
        <span>Users</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/places"
        title="Places"
        (click)="onClick()"
      >
        <span>Places</span>
      </a>
    </li>
  </ul>
</ng-template>
