@import 'variables';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

section.group {
  padding: 0.5rem 0;

  h3 {
    font-size: 0.8rem;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
  }

  .user {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0;

    .actions {
      button {
        background: none;
        border: none;
        color: theme-color(info);
        font-size: 1rem;
      }
    }
  }
}
