<app-admin-item-section>
  <header>
    <h3>Team Roster</h3>

    <div>
      <button (click)="onClickOpenModal('add')">
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
  </header>

  <app-admin-item-content>
    <ng-container *ngIf="team.users && team.users.length > 0; else noUsers">
      <ng-container *ngFor="let group of team.roster">
        <section *ngIf="group.users.length > 0" class="group">
          <h3>{{ group.role | titlecase }} List</h3>

          <div
            *ngFor="let user of group.users"
            class="user"
          >
            <div class="label">
              <a [routerLink]="['/admin/users/', user._id]">{{ user.fullName }}</a>
            </div>

            <div class="actions">
              <button
                (click)="onClickOpenModal('roles', user)"
              >
                <i class="fas fa-user-cog"></i>
              </button>

              <button
                (click)="onClickOpenModal('remove', user)"
              >
                <i class="fas fa-times-circle"></i>
              </button>
            </div>
          </div>
        </section>
      </ng-container>
    </ng-container>

    <ng-template #noUsers>
      No users. Maybe add some? <i class="far fa-smile"></i>
    </ng-template>
  </app-admin-item-content>
</app-admin-item-section>
