<ng-container [formGroup]="teamForm">
  <ngl-sign-up-header>
    <h2>Enter your team information</h2>

    <p><span>*</span> required field</p>
  </ngl-sign-up-header>

  <ngl-sign-up-section>
    <header>
      <h3>Team Info</h3>
    </header>

    <ui-form-field>
      <input
        formControlName="name"
        placeholder="Team Name"
        uiInput
        required
      >

      <ui-hint *ngIf="name.pending">
        Checking Team Name...
      </ui-hint>

      <ui-error *ngIf="name.errors && name.errors.teamExists">
        Team Name already exists!
      </ui-error>
    </ui-form-field>
  </ngl-sign-up-section>

  <ngl-sign-up-section formGroupName="notes">
    <header>
      <h3>Team Availability</h3>
    </header>

    <ui-form-field>
      <ui-select formControlName="season" placeholder="Pick Preferred Season" multiple required>
        <ui-option value="summer">Summer</ui-option>
        <ui-option value="fall">Fall</ui-option>
        <ui-option value="winter">Winter</ui-option>
        <ui-option value="spring">Spring</ui-option>
      </ui-select>
    </ui-form-field>

    <ui-form-field>
      <ui-select formControlName="type" placeholder="Pick Preferred League" multiple required>
        <ui-option value="men_premier">Men Premier</ui-option>
        <ui-option value="men">Men</ui-option>
        <ui-option value="coed_premier">Coed Premier</ui-option>
        <ui-option value="coed">Coed</ui-option>
        <ui-option value="women">Women</ui-option>
        <ui-option value="youth">Youth</ui-option>
      </ui-select>
    </ui-form-field>

    <ui-form-field>
      <ui-select formControlName="days" placeholder="Days Available" multiple required>
        <ui-option value="mon_tues">Mon/Tues</ui-option>
        <ui-option value="tues_thurs">Tues/Thurs</ui-option>
        <ui-option value="wed_thurs">Wed/Thurs</ui-option>
        <ui-option value="fri">Fri</ui-option>
        <ui-option value="sat">Sat</ui-option>
        <ui-option value="sun">Sun</ui-option>
      </ui-select>
    </ui-form-field>

    <ui-form-field>
      <ui-select formControlName="time" placeholder="Times Available" required>
        <ui-option value="early">Early</ui-option>
        <ui-option value="late">Late</ui-option>
        <ui-option value="either">Does Not Matter</ui-option>
      </ui-select>
    </ui-form-field>
  </ngl-sign-up-section>

  <ngl-sign-up-section>
    <header>
      <h3>Team Roster</h3>

      <button (click)="onClickAddUser()" type="button">
        <i class="fas fa-user-plus"></i>
      </button>
    </header>

    <section id="roster" formArrayName="roster">
      <div *ngFor="let user of roster.controls; let i = index">
        <span>
          {{ user.get('email' ).value }}
        </span>

        <button *ngIf="i !== 0" type="button" (click)="removeUser(i)">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </section>
  </ngl-sign-up-section>

  <ngl-sign-up-actions>
    <button class="prev" uiStepPrev>
      <i class="fas fa-angle-left"></i>
      <span>Back</span>
    </button>

    <button
      class="next"
      [disabled]="!teamForm.valid"
      uiStepNext
    >
      <span>Next</span>
      <i class="fas fa-angle-right"></i>
    </button>
  </ngl-sign-up-actions>
</ng-container>
