<ng-container *ngIf="user$ | async as user">
  <ui-modal-header>
    <h1>Update Name</h1>
  </ui-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)">
    <ng-container ngModelGroup="name">
      <ui-modal-form-field>
        <input
          name="first"
          placeholder="First Name"
          [ngModel]="user.name.first"
          required
        >
      </ui-modal-form-field>

      <ui-modal-form-field>
        <input
          name="last"
          placeholder="Last Name"
          [ngModel]="user.name.last"
          required
        >
      </ui-modal-form-field>
    </ng-container>

    <ui-modal-actions>
      <button id="save" [disabled]="!f.valid">Save</button>

      <button id="cancel" uiModalClose>Cancel</button>
    </ui-modal-actions>
  </form>
</ng-container>
