<ng-container *ngIf="user$ | async as user">
  <app-modal-header>
    <h1>Update Name</h1>
  </app-modal-header>

  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)">
    <ng-container ngModelGroup="name">
      <app-modal-form-field>
        <input
          name="first"
          placeholder="First Name"
          [ngModel]="user.name.first"
          required
        >
      </app-modal-form-field>

      <app-modal-form-field>
        <input
          name="last"
          placeholder="Last Name"
          [ngModel]="user.name.last"
          required
        >
      </app-modal-form-field>
    </ng-container>

    <app-modal-actions>
      <button id="save" [disabled]="!f.valid">Save</button>

      <button id="cancel" appModalClose>Cancel</button>
    </app-modal-actions>
  </form>
</ng-container>
